---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---
<Layout title="Mobile Tyre Fitting in Arnold | Tyre Emergency Ltd" description="Swift and reliable mobile tyre fitting services in Arnold. Tyre Emergency Ltd offers on-the-spot tyre repairs and replacements. Contact us for fast and convenient tyre solutions delivered to your location.">
    <Hero bgImg="url(/img/arnold-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Arnold" tagline="Efficient and Trusted Tyre Services in Arnold" btnText="Call Now for a Quote"/>
    <Main h1="Mobile Tyre Fitting in Arnold" h2="Your Local Source for Timely Tyre Assistance">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, Arnold's trusted provider of mobile tyre fitting. Our experienced team is equipped to handle a wide range of vehicles, ensuring quality service for cars, vans, and more.
        </p>
        <p class="lead">
            Facing a tyre dilemma in Arnold? Be it at your residence or on the roadside, our 7-day mobile tyre fitting service guarantees speedy and reliable assistance across the region.
        </p>
        <p class="lead">
            In need of mobile tyre fitting in Arnold? Reach out to us at 0330 133 9311. At Tyre Emergency Ltd, we prioritize your safety and convenience, striving to get you back on the road with minimal hassle.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Arnold"/>
    <CTA />
    <Areas />
    <CTA />
</Layout>
