---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Calverton | Tyre Emergency Ltd" description="Expert mobile tyre fitting services in Calverton. Tyre Emergency Ltd provides quick and efficient on-the-spot tyre repairs and replacements. Reach out for prompt tyre solutions at your convenience.">
    <Hero bgImg="url(/img/calverton-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Calverton" tagline="Reliable and Speedy Tyre Services in Calverton" btnText="Get Your Quote Today"/>
    <Main h1="Mobile Tyre Fitting in Calverton" h2="Calverton's Premier Choice for Tyre Services">
        <p class="lead">
            Discover Tyre Emergency Ltd, Calverton's premier mobile tyre fitting service. Our team, skilled in handling a diverse array of vehicles, delivers exceptional service for all your tyre needs.
        </p>
        <p class="lead">
            Dealing with a tyre issue in Calverton? Whether you're at your home or stranded roadside, our comprehensive 7-day mobile tyre fitting service offers reliable and prompt support throughout Calverton.
        </p>
        <p class="lead">
            Looking for mobile tyre fitting in Calverton? Contact us at 01623 325 123. Your safety and convenience are paramount at Tyre Emergency Ltd, and we're dedicated to getting you back on the road quickly and safely.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Calverton"/>
    <CTA />
    <Areas />
    <CTA />
</Layout>