---
import AreaLayout from "../../layouts/AreaLayout.astro"
---

<AreaLayout
    title="Mobile Tyre Fitting in Derby"
    description="Swift and reliable mobile tyre fitting services in Derby. Tyre Emergency Ltd offers on-the-spot tyre repairs and replacements. Contact us for fast and convenient tyre solutions delivered to your location."
    bgImg="url(/img/derby-tyre-service.jpeg)"
    heading="Mobile Tyre Fitting in Derby"
    tagline="Efficient and Trusted Tyre Services in Derby"
    h1="Mobile Tyre Fitting in Derby"
    h2="Your Local Source for Timely Tyre Assistance"
    city="Derby"
    aboutArea="Derby is a vibrant city located in Derbyshire, England. It is known for its rich industrial heritage and modern developments. Explore the city's cultural attractions, shopping districts, and enjoy a mix of historical landmarks and contemporary experiences."
    subAreas="Alvaston, Littleover, Mickleover, Chaddesden, Sinfin"
>
    <p class="lead">
        Welcome to Tyre Emergency Ltd, your trusted provider of mobile tyre fitting in Derby. Our experienced team is equipped to handle a wide range of vehicles, ensuring quality service for cars, vans, and more.
    </p>
    <p class="lead">
        Facing a tyre dilemma in Derby? Whether you're at home or on the road, our 7-day mobile tyre fitting service guarantees speedy and reliable assistance throughout Derby and its surrounding areas.
    </p>
    <p class="lead">
        If you're in need of mobile tyre fitting in Derby, don't hesitate to reach out to us at 01623 325 123. At Tyre Emergency Ltd, we prioritize your safety and convenience, striving to get you back on the road with minimal hassle.
    </p>
</AreaLayout>
