---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Giltbrook | Tyre Emergency Ltd" description="Efficient mobile tyre fitting services in Giltbrook. Tyre Emergency Ltd specializes in immediate tyre repairs and replacements. Contact for quick tyre services right at your doorstep.">
    <Hero bgImg="url(/img/giltbrook-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Giltbrook" tagline="Prompt and Reliable Tyre Services in Giltbrook" btnText="Contact Us for Immediate Service"/>
    <Main h1="Mobile Tyre Fitting in Giltbrook" h2="Giltbrook's Trusted Tyre Solution">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, Giltbrook's go-to service for mobile tyre fitting. Our professional team is adept in servicing a variety of vehicles, ensuring top-notch service for both personal and commercial needs.
        </p>
        <p class="lead">
            Got a tyre challenge in Giltbrook? Whether at your doorstep or on the road, our 7-day mobile tyre fitting service is ready to provide you with swift and efficient assistance anywhere in Giltbrook.
        </p>
        <p class="lead">
            Require mobile tyre fitting in Giltbrook? Dial 01623 325 123. At Tyre Emergency Ltd, we focus on your safety and satisfaction, helping you resume your journey quickly and safely.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Giltbrook" />
    <CTA />
    <Areas />
    <CTA />
</Layout>