---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Loughborough | Tyre Emergency Ltd" description="Efficient mobile tyre fitting services in Loughborough. Tyre Emergency Ltd offers on-site tyre repairs and replacements. Contact us for reliable tyre solutions delivered to your location.">
    <Hero bgImg="url(/img/loughborough-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Loughborough" tagline="Swift and Reliable Tyre Services in Leicestershire" btnText="Call Now for a Quote"/>
    <Main h1="Mobile Tyre Fitting in Loughborough" h2="Your Trusted Partner for Tyre Emergencies">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, your reliable choice for mobile tyre fitting in Loughborough. Our skilled team of tyre fitters is experienced in servicing various vehicle types, including cars and vans.
        </p>
        <p class="lead">
            Whether you're at home or need assistance on the road in Loughborough, we're here to provide 7-day mobile tyre fitting services. Our commitment is to deliver prompt and dependable solutions throughout Leicestershire.
        </p>
        <p class="lead">
            For mobile tyre fitting in Loughborough, give us a call at 0330 133 9311. At Tyre Emergency Ltd, we prioritize your convenience and safety, ensuring you're back on the road swiftly and securely.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Loughborough" />
    <CTA />
    <Areas />
    <CTA />
</Layout>