---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
---

<Layout title="Mobile Tyre Fitting in Newark | Tyre Emergency Ltd" description="Efficient and reliable mobile tyre fitting services in Newark. Tyre Emergency Ltd offers fast, on-site tyre repairs and replacements. Call us for immediate, top-quality tyre solutions at your convenience.">
    <Hero bgImg="url(/img/newark-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Newark" tagline="Professional Tyre Services Delivered to You" btnText="Call Now for a Quote"/>
    <Main h1="Mobile Tyre Fitting in Newark" h2="Convenient and Reliable Tyre Solutions">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, your reliable source for mobile tyre fitting in Newark. Our team of professional tyre fitters is ready to provide services for a wide array of vehicles, including personal cars, vans, and commercial fleets. 
        </p>
        <p class="lead">
            Serving the Newark area, we understand the need for quick and dependable tyre fitting services, whether you're at home, work, or stuck on the roadside. Our services are available 7 days a week, ensuring that you have access to expert tyre assistance whenever you need it.
        </p>
        <p class="lead">
            If you're in Newark and in need of mobile tyre fitting services, don't hesitate to reach out to us at 01636 330055. Let Tyre Emergency Ltd take the hassle out of tyre fitting for you. Our goal is to get you back on the road safely and efficiently, with minimal interruption to your day.
        </p>
        
    </Main>
    <CTA/>
</Layout>
