---
import AreaLayout from "../../layouts/AreaLayout.astro"
---

<AreaLayout
    title="Mobile Tyre Fitting in Newark"
    description="Swift and dependable mobile tyre fitting services in Newark. Tyre Emergency Ltd offers on-the-spot tyre repairs and replacements. Contact us for swift and convenient tyre solutions delivered to your location."
    bgImg="url(/img/newark-tyre-service.jpeg)"
    heading="Mobile Tyre Fitting in Newark"
    tagline="Efficient and Trusted Tyre Services in Newark"
    h1="Mobile Tyre Fitting in Newark"
    h2="Your Local Source for Rapid Tyre Assistance"
    city="Newark"
    aboutArea="Newark is a historic market town located in Nottinghamshire, England. It is known for its charming market square, Newark Castle, and picturesque riverside. Explore the town's heritage, attend local events, and enjoy the welcoming atmosphere of Newark."
    subAreas="Balderton, Fernwood, Coddington, Winthorpe, Southwell"
>
    <p class="lead">
        Welcome to Tyre Emergency Ltd, your trusted provider of mobile tyre fitting in Newark. Our experienced team is equipped to handle a wide range of vehicles, ensuring quality service for cars, vans, and more.
    </p>
    <p class="lead">
        Facing a tyre dilemma in Newark? Whether you're at home or on the road, our 7-day mobile tyre fitting service guarantees speedy and reliable assistance throughout Newark and its surrounding areas.
    </p>
    <p class="lead">
        If you're in need of mobile tyre fitting in Newark, don't hesitate to reach out to us at 0330 133 9311. At Tyre Emergency Ltd, we prioritize your safety and convenience, striving to get you back on the road with minimal hassle.
    </p>
</AreaLayout>
