---
import AreaLayout from "../../layouts/AreaLayout.astro";
import AreaImg from "../../components/AreaImg.astro";
---

<AreaLayout
    title="Mobile Tyre Fitting in Newark"
    description="Swift and dependable mobile tyre fitting services in Newark. Tyre Emergency Ltd offers on-the-spot tyre repairs and replacements. Contact us for swift and convenient tyre solutions delivered to your location."
    bgImg="url(/img/newark-tyre-service.jpeg)"
    heading="Mobile Tyre Fitting in Newark"
    tagline="We'll Come to You at Home or Roadside Today"
    h1="Mobile Tyre Fitting in Newark"
    h2="Change Your Tyres the Easy Way"
    city="Newark"
    aboutArea="Newark is a historic market town located in Nottinghamshire, England. It is known for its charming market square, Newark Castle, and picturesque riverside. Explore the town's heritage, attend local events, and enjoy the welcoming atmosphere of Newark."
    subAreas="Kirklington, Eakring, Bilsthorpe, Worksop"
>
    <p class="lead">
        Welcome to Tyre Emergency Ltd, your trusted provider of mobile tyre fitting in Newark. Our experienced team is equipped to handle a wide range of vehicles, ensuring quality service for cars, vans, and more.
    </p>
    <p class="lead">
        Facing a tyre dilemma in Newark? Whether you're at home or on the road, our 7-day mobile tyre fitting service guarantees speedy and reliable assistance throughout Newark and its surrounding areas.
    </p>
    <p class="lead">
        If you're in need of mobile tyre fitting or <a href="/services/locking-wheel-nut-removal/newark">locking wheel nut removal in Newark</a>, don't hesitate to reach out to us at 0330 133 9311. At Tyre Emergency Ltd, we prioritize your safety and convenience, striving to get you back on the road with minimal hassle.
    </p>
    <AreaImg
  imgHeading="Emergency Tyre Replacement in Newark"
  paraOne="A customer in Newark encountered a pothole near Staythorpe, resulting in a flat tyre on a Sunday. Despite the challenge, they managed to safely drive home with the damaged tyre."
  paraTwo="Understanding the urgency, our team quickly sourced a new Bridgestone run-flat tyre suitable for their BMW. We efficiently carried out the tyre replacement right at the customer's home address, ensuring minimal disruption to their plans."
  imgUrl="/img/jobs/mobile-tyre-replacement-in-newark.webp" 
  imgAlt="BMW car receiving a new Bridgestone run-flat tyre at a Newark home"
/>

</AreaLayout>
