---
import AreaLayout from "../../layouts/AreaLayout.astro";
import AreaImg from "../../components/AreaImg.astro";
---

<AreaLayout
    title="Mobile Tyre Fitting in Newark"
    description="Swift and dependable mobile tyre fitting services in Newark. Tyre Emergency Ltd offers on-the-spot tyre repairs and replacements. Contact us for swift and convenient tyre solutions delivered to your location."
    bgImg="url(/img/newark-tyre-service.jpeg)"
    heading="Mobile Tyre Fitting in Newark"
    tagline="We'll Come to You at Home or Roadside Today"
    h1="Mobile Tyre Fitting in Newark"
    h2="24 Hour Tyre Service in Newark & Surrounding Areas"
    city="Newark"
    aboutArea="Newark is a historic market town located in Nottinghamshire, England. It is known for its charming market square, Newark Castle, and picturesque riverside. Explore the town's heritage, attend local events, and enjoy the welcoming atmosphere of Newark."
    subAreas="Kirklington, Eakring, Bilsthorpe, Worksop"
>
    <p class="lead">
        Welcome to Tyre Emergency Ltd, your trusted provider of mobile tyre fitting in Newark. Our experienced team is equipped to handle a wide range of vehicles, ensuring quality service for cars, vans, and more.
    </p>
    <p class="lead">
        Facing a tyre dilemma in Newark? Whether you're at home or on the road, our 7-day mobile tyre fitting service guarantees speedy and reliable assistance throughout Newark and its surrounding areas.
    </p>
    <p class="lead">
        If you're in need of mobile tyre fitting or <a href="/services/locking-wheel-nut-removal/newark">locking wheel nut removal in Newark</a>, don't hesitate to reach out to us at 01623 325 123. At Tyre Emergency Ltd, we prioritize your safety and convenience, striving to get you back on the road with minimal hassle.
    </p>
    <AreaImg
  imgHeading="Emergency Tyre Replacement in Newark"
  paraOne="A customer in Newark has an unfortunate run in with a pothole near Staythorpe, resulting in a flat tyre on a Sunday."
  paraTwo="Despite the challenge, they managed to safely drive home with the damaged tyre and called us to arrange a brand new Bridgestone runflat for next day fitting."
  imgUrl="/img/jobs/mobile-tyre-replacement-in-newark.webp" 
  imgAlt="BMW car receiving a new Bridgestone run-flat tyre at a Newark home"
/>

</AreaLayout>
