---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Nottingham | Tyre Emergency Ltd" description="Experience prompt and expert mobile tyre fitting services in Nottingham with Tyre Emergency Ltd. We provide convenient and efficient on-site tyre repairs and replacements. Contact us for rapid, hassle-free tyre solutions at your location.">
    <Hero bgImg="url(/img/nottingham-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Nottingham" tagline="Your Trusted Mobile Tyre Service in Nottingham" btnText="Call Now for a Quote"/>
    <Main h1="Mobile Tyre Fitting in Nottingham" h2="Expert Tyre Services at Your Doorstep">
        <p class="lead">
            Tyre Emergency Ltd takes pride in offering top-tier mobile tyre fitting services throughout Nottingham. Our team of expert fitters is equipped to service a variety of vehicles, from family cars to commercial vans, ensuring a flexible solution for all your tyre needs.
        </p>
        <p class="lead">
            We're ready to assist you wherever you are in Nottingham, whether you're at home, office, or roadside. Available 7 days a week, our aim is to provide quick, reliable, and convenient tyre fitting services to match the bustling pace of Nottingham life.
        </p>
        <p class="lead">
            For a quote or to avail of our mobile tyre fitting services in Nottingham, simply call us at 0330 133 9311. Don't let tyre troubles disrupt your routine - our team is on standby to provide efficient, stress-free mobile tyre services across Nottingham.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Nottingham" />
    <CTA />
    <Areas />
    <CTA />
</Layout>