---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
---

<Layout title="Mobile Tyre Fitting in Shirebrook | Tyre Emergency Ltd" description="Professional mobile tyre fitting services in Shirebrook. Tyre Emergency Ltd is dedicated to providing quick and reliable tyre repairs and replacements. Contact us for efficient tyre solutions at your convenience.">
    <Hero bgImg="url(/img/shirebrook-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Shirebrook" tagline="Dependable and Quick Tyre Services in Shirebrook" btnText="Get a Fast Quote"/>
    <Main h1="Mobile Tyre Fitting in Shirebrook" h2="Your Reliable Partner for Tyre Services in Shirebrook">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, Shirebrook's leading provider of mobile tyre fitting services. Our highly skilled team specializes in servicing a broad spectrum of vehicles, offering premium service for all your tyre needs.
        </p>
        <p class="lead">
            Facing a tyre issue in Shirebrook? No matter where you are, be it at home or on the road, our 7-day mobile tyre fitting service delivers fast and trustworthy assistance throughout Shirebrook.
        </p>
        <p class="lead">
            In search of mobile tyre fitting in Shirebrook? Contact us at 01623 325 123. At Tyre Emergency Ltd, we prioritize your convenience and safety, ensuring you're back on the road swiftly and securely.
        </p>
        
    </Main>
    <CTA/>
</Layout>