---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Southwell | Tyre Emergency Ltd" description="Top-tier mobile tyre fitting services in Southwell. Tyre Emergency Ltd offers efficient on-the-spot tyre repairs and replacements. Contact for professional tyre solutions at your location.">
    <Hero bgImg="url(/img/southwell-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Southwell" tagline="Expert and Reliable Tyre Services in Southwell" btnText="Book Your Service Now"/>
    <Main h1="Mobile Tyre Fitting in Southwell" h2="Southwell's Choice for Quick Tyre Assistance">
        <p class="lead">
            Welcome to Tyre Emergency Ltd, your dependable source for mobile tyre fitting in Southwell. Our team, proficient in handling a variety of vehicles, is committed to delivering exceptional service for your tyre requirements.
        </p>
        <p class="lead">
            Experiencing a tyre complication in Southwell? Whether at your residence or stranded on the road, our 7-day mobile tyre fitting service ensures rapid and reliable support across Southwell.
        </p>
        <p class="lead">
            Need mobile tyre fitting in Southwell? Call us at 01623 325 123. Tyre Emergency Ltd places your safety and convenience first, aiming to get you back on the road quickly and with ease.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Southwell" />
    <CTA />
    <Areas />
    <CTA />
</Layout>