---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Main from "../../components/Main.astro";
import CTA from "../../components/CTA.astro";
import GeoContent from "../../components/GeoContent.astro";
import Areas from "../../components/Areas.astro";
---

<Layout title="Mobile Tyre Fitting in Sutton-in-Ashfield | Tyre Emergency Ltd" description="Reliable mobile tyre fitting services in Sutton-in-Ashfield. Tyre Emergency Ltd specializes in prompt tyre repairs and replacements. Contact for fast and efficient tyre solutions directly to your location.">
    <Hero bgImg="url(/img/sutton-in-ashfield-tyre-service.jpeg)" heading="Mobile Tyre Fitting in Sutton-in-Ashfield" tagline="Trusted and Efficient Tyre Services in Sutton-in-Ashfield" btnText="Schedule Your Service"/>
    <Main h1="Mobile Tyre Fitting in Sutton-in-Ashfield" h2="Sutton-in-Ashfield's Premier Tyre Assistance">
        <p class="lead">
            Introducing Tyre Emergency Ltd, Sutton-in-Ashfield's premier provider of mobile tyre fitting. Our dedicated team is proficient in servicing a wide array of vehicles, ensuring top-quality service for all tyre needs.
        </p>
        <p class="lead">
            Have a tyre predicament in Sutton-in-Ashfield? Whether at your home or in the midst of a roadside emergency, our 7-day mobile tyre fitting service promises prompt and dependable assistance across Sutton-in-Ashfield.
        </p>
        <p class="lead">
            Looking for mobile tyre fitting in Sutton-in-Ashfield? Reach out to us at 01623 325 123. At Tyre Emergency Ltd, your safety and convenience are our highest concern, ensuring you're back on the road safely and efficiently.
        </p>
        
    </Main>
    <CTA/>
    <GeoContent area="Sutton-in-Ashfield" />
    <CTA />
    <Areas />
    <CTA />
</Layout>