// VARIABLES
$warning: #ff3131 ;
$secondary: #333333;
$primary: #ff3131;

// IMPORT PACKAGES
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./custom.scss";

// SET BASE FONT
:root {
    --bs-body-font-family: "Rubik", sans-serif;
}

.accordion {
    --bs-accordion-active-bg: rgba(255, 103, 0, 0.5);
}

.btn {
    border-radius: 0px;
}

.nav-link, .btn, h1 {
    text-transform: uppercase;
    font-weight: bold;
}
