// VARIABLES
// $primary: #31FFFF;
$danger: #ff3131;

// IMPORT PACKAGES
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// SET BASE FONT
:root {
    --bs-body-font-family: "Poppins", sans-serif;
}

.dropdown-item.active, .dropdown-item:focus {
    background-color: $danger !important;  // Set active dropdown link color to red
}

#hero {
    background: linear-gradient(0deg,
            rgba(20, 20, 20, 0.9),
            rgba(20, 20, 20, 0.9)),
        url(/img/mobile-tyre-fitting.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        min-height: 70vh;
        @extend .text-light;
    }

}


#intro {
    @extend .py-5, .text-center;

    div {
        @extend .container;
    }

    h1 {
        @extend .mb-5;
    }

    h2 {
        @extend .my-5;
    }

    ul {
        @extend .text-start;
    }

    p,
    li {
        @extend .lead;
    }
}

.call-btn {
    @extend .btn, .btn-lg, .btn-danger, .text-light, .fw-bold;
}


#map {
    height: 300px;
}