---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import Main from "../../../components/Main.astro";
import Testimonial from "../../../components/Testimonial.astro";
import CTA from "../../../components/CTA.astro";
import Areas from "../../../components/Areas.astro";
import FAQs from "../../../components/FAQs.astro";
import ContactUs from "../../../components/ContactUs.astro";
const faqs = [
    {
        question: "How much does a tyre repair cost?",
        answer: "Our price for a mobile puncture repair starts from as little as £29.94. However, this may change depending on your location, tyre size, and time requirements."
    },
    {
        question: "What if the tyre can't be fixed?",
        answer: "We will always try to bring a tyre with us in the event we can't fix the tyre."
    },
    {
        question: "Is there a callout charge?",
        answer: "There is no callout charge if you are within our normal service area and need us during our normal work hours."
    },
    {
        question: "Is the repair safe?",
        answer: "Yes. Our repairs are within accordance to the BSAU159 standards, which means the repair is safe for the lifetime of the tyre."
    },
    {
        question: "How soon can you fix the tyre?",
        answer: "We aim to provide a same day service depending on availability."
    },
    {
        question: "What areas do you cover?",
        answer: "We cover a number of areas within Nottingham and Newark including Mansfield, Newark, Arnold and Ollerton."
    },
    {
        question: "Do you repair run-flat tyres?",
        answer: "We don't repair run-flat tyres."
    },
    {
        question: "Do you repair motorbike or truck tyres?",
        answer: "No. We only repair car, van, caravan, motorhome, and trailer tyres."
    }
]
---

<Layout
    title="Emergency Mobile Tyre Repair | Tyre Emergency Ltd"
    description="Quick and reliable emergency mobile tyre repair for punctures in Nottingham and Newark. Get back on the road fast with our expert puncture repair service."
>
    <Hero
        bgImg="url(/img/tyre-repair-service.jpeg)"
        heading="Got a Tyre Puncture? We're Here to Help"
        tagline="Expert Mobile Tyre Repair Services, Just a Call Away!"
        btnText="Call for Immediate Repair"
    />

    <Main
        h1="Emergency Mobile Tyre Repair"
        h2="Mobile Puncture Repairs in Nottingham & Newark"
    >
        <p class="lead">
            A tyre puncture can be more than just an inconvenience; it can
            disrupt your entire day. But there's no need to worry. Tyre
            Emergency offers a specialized emergency mobile tyre repair service
            to fix punctures swiftly and efficiently. Serving the Nottingham and
            Newark areas, we're equipped to handle your tyre emergencies on the
            spot.
        </p>
        <p class="lead">
            Our skilled technicians come to your location – whether you're at
            home, at work, or stranded on the road – with all the necessary
            tools to repair your punctured tyre. We focus on providing a fast,
            safe, and reliable repair service that gets your vehicle back in
            action with minimal downtime.
        </p>
        <Testimonial />
        <h2 class="fw-bold text-center my-5">
            Why Choose Us for Mobile Puncture Repairs?
        </h2>
        <ul class="lead">
            <li>
                <strong>Fast and Efficient Service:</strong> We understand the
                urgency of a tyre puncture. Our team is trained to respond
                quickly and fix your tyre with precision and speed.
            </li>
            <li>
                <strong>On-Site Repairs:</strong> Our mobile service means we
                repair your tyre at your location. No need for towing or
                additional travel.
            </li>
            <li>
                <strong>Expert Technicians:</strong> Our professionals are
                well-versed in a wide range of tyre types and puncture repairs,
                ensuring high-quality service regardless of your vehicle.
            </li>
            <li>
                <strong>Customer Satisfaction:</strong> We prioritize your
                safety and satisfaction, providing reliable repairs that stand
                the test of time.
            </li>
        </ul>
        <p class="lead">
            Don't let a puncture slow you down. Contact Tyre Emergency for
            prompt and professional mobile tyre repair services. We’re committed
            to getting you back on the road quickly and safely.
        </p>
    </Main>

    <CTA />
    <Areas />
    <CTA />
    <ContactUs />
    <FAQs faqs={faqs} />
</Layout>
