<form
method="POST"
data-netlify="true"
name="quote"
class="container bg-white p-4 border border-dark"
>
<p class="h4 fw-bold text-center mb-4 text-uppercase">Get a Quote</p>
<div class="d-none">
  <input type="text" name="url" id="urlInput" />
</div>

<div class="">
  <div class="mb-2">
    <input
      type="text"
      class="form-control form-control-lg text-center rounded-0 text-uppercase"
      placeholder="Enter Reg"
      id="regInput"
      name="Registration"
    />
  </div>
  <div class="">
    <div class="d-grid">
      <a class="btn btn-info fw-bold btn-lg next-btn" href="#">Next</a>
    </div>
  </div>
</div>

<div class="d-none">
  <div class="mb-2">
    <input
      type="text"
      class="form-control text-center form-control-lg rounded-0 text-uppercase"
      placeholder="Enter Postcode"
      id="postcodeInput"
      name="Postcode"
    />
  </div>
  <div class="row g-1">
    <div class="col-6 d-grid">
      <a class="btn-dark fw-bold btn btn-lg back-btn" href="#"
        >Back</a
      >
    </div>
    <div class="col-6 d-grid">
      <a class="btn btn-info fw-bold btn-lg next-btn" href="#"
        >Next</a
      >
    </div>
  </div>
</div>

<div class="d-none">
  <div class="mb-2">
    <input
      type="text"
      class="form-control form-control-lg rounded-0"
      placeholder="Name"
      required
      name="Name"
      id="nameInput"
    />
  </div>
  <div class="mb-2">
    <input
      type="tel"
      class="form-control form-control-lg rounded-0"
      placeholder="Tel"
      required
      name="Phone"
      id="telInput"
    />
  </div>
  <div class="mb-2">
    <input
      type="email"
      class="form-control form-control-lg rounded-0"
      placeholder="E-Mail"
      required
      name="Email"
      id="emailInput"
    />
  </div>
  <div class="mb-2">
    <textarea
      name="Message"
      id="message"
      cols="30"
      rows="3"
      class="form-control form-control-lg rounded-0"
      placeholder="Message"
      required
      id="messageInput"></textarea>
  </div>
  <div class="row g-1">
    <div class="col-6 d-grid">
      <a class="btn-dark fw-bold btn btn-lg back-btn" href="#"
        >Back</a
      >
    </div>
    <div class="col-6 d-grid">
      <button
        class="btn btn-info fw-bold btn-lg"
        id="submitBtn"
        type="submit">Submit</button
      >
    </div>
  </div>
</div>
</form>

<script>
  const urlInput = document.getElementById("urlInput");
  urlInput.value = window.location.href;
  const nextBtns = document.querySelectorAll(".next-btn");
  const backBtns = document.querySelectorAll(".back-btn");
  nextBtns.forEach((el) => {
    el.addEventListener("click", (event) => {
      event.preventDefault();
      const currentDiv = el.parentElement.parentElement.parentElement;
      const nextDiv = currentDiv.nextElementSibling;
      currentDiv.classList.add("d-none");
      nextDiv.classList.remove("d-none");
    })
  })
  backBtns.forEach((el) => {
    el.addEventListener("click", (event) => {
      event.preventDefault();
      const currentDiv = el.parentElement.parentElement.parentElement;
      const previousDiv = currentDiv.previousElementSibling;
      currentDiv.classList.add("d-none");
      previousDiv.classList.remove("d-none");
    })
  })
</script>