---
import Layout from '../../layouts/Layout.astro';
import Areas from '../../components/Areas.astro';
import CTA from '../../components/CTA.astro';
---

<Layout title="Emergency Mobile Tyre Fitting | Tyre Emergency Ltd">
    <section id="hero" class="text-center text-white d-flex align-items-center justify-content-center">
        <div class="container">
            <p class="fw-bold display-5">Stuck With a Flat Tyre?</p>
            <p class="lead fs-3 mb-4">Our mobile tyre fitters can come to you in <strong class="fw-bold">60 minutes</strong></p>
            <a href="tel:01636330055" class="btn btn-lg btn-warning fw-bold"><i class="bi bi-telephone-fill"></i> Call Now</a>
        </div>
    </section>
    <main>
        <div class="text-center py-5 bg-light">
            <div class="container">
                
                <h1 class="fw-bold">Emergency Mobile Tyre Fitting Services in Nottingham</h1>
                <h2 class="fw-bold text-warning mb-5">Fast Response Tyre Service at Home or Roadside</h2>
                <p class="lead">When a flat tyre strikes, you need a reliable and swift solution to get back on the road. At Tyre Emergency, we understand the urgency of these situations and offer specialised emergency mobile tyre fitting services in Nottingham and Newark.</p>
            </div>
        </div>
        <CTA />
        <div class="container py-5 text-center">
            <h2 class="fw-bold mb-5">Our Emergency Tyre Fitting Service Includes</h2>
            <ul class="lead text-md-start">
                <li><strong class="fw-bold">Rapid Response:</strong> We pride ourselves on our quick response time. When you call us, our skilled mobile tyre fitters are immediately dispatched to your location, whether you're at home, work, or stranded on the roadside.</li>
                <li><strong class="fw-bold">7 Day Availability:</strong> Tyre emergencies don't wait for convenient hours, and neither do we. Our services are available seven days a week, ensuring you have access to assistance whenever you need it.</li>
                <li><strong class="fw-bold">Comprehensive Coverage:</strong> Our mobile tyre fitters cover a wide area, serving Nottingham and Newark. No matter where you are in these regions, we'll reach you promptly.</li>
            </ul>
        </div>
    </main>
    <CTA />
    <Areas />
    <CTA />
</Layout>
<style>
	#hero {
		min-height: 60vh;
		background:linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("/img/mobile-tyre-fitting.jpeg");
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}
</style>