---
import Layout from '../../layouts/Layout.astro';
import CTA2 from '../../components/CTA2.astro';
import Areas from '../../components/Areas.astro';
---

<Layout title="Emergency Mobile Tyre Repair | Tyre Emergency Ltd" description='Quick and reliable emergency mobile tyre repair for punctures in Nottingham and Newark. Get back on the road fast with our expert puncture repair service.'>
    <section id="hero" class="text-center text-white d-flex align-items-center justify-content-center">
        <div class="container">
            <p class="fw-bold display-5">Got a Tyre Puncture? We're Here to Help!</p>
            <p class="lead fs-3">Expert Mobile Tyre Repair Services On-The-Spot</p>
            <a href="tel:01636330055" class="btn btn-lg btn-warning fw-bold text-secondary"><i class="bi bi-telephone-fill"></i> Call for Immediate Repair</a>
        </div>
    </section>
    <main>
        <div class="bg-light py-5 text-center">
            <div class="container">

                <h1 class="fw-bold">Rapid Response Mobile Tyre Puncture Repair</h1>
                <h2 class="text-warning mb-5 fw-bold">On-the-Spot Puncture Repairs in Nottingham & Newark</h2>
                <p class="lead">A tyre puncture can be more than just an inconvenience; it can disrupt your entire day. But there's no need to worry. Tyre Emergency offers a specialized emergency mobile tyre repair service to fix punctures swiftly and efficiently. Serving the Nottingham and Newark areas, we're equipped to handle your tyre emergencies on the spot.</p>
                <p class="lead">Our skilled technicians come to your location – whether you're at home, at work, or stranded on the road – with all the necessary tools to repair your punctured tyre. We focus on providing a fast, safe, and reliable repair service that gets your vehicle back in action with minimal downtime.</p>
            </div>
</div>
<div class="container py-5">
            <h2 class="fw-bold text-center mb-5">Why Choose Us for Tyre Puncture Repairs?</h2>
            <ul class="lead">
                <li><strong>Fast and Efficient Service:</strong> We understand the urgency of a tyre puncture. Our team is trained to respond quickly and fix your tyre with precision and speed.</li>
                <li><strong>On-Site Repairs:</strong> Our mobile service means we repair your tyre at your location. No need for towing or additional travel.</li>
                <li><strong>Expert Technicians:</strong> Our professionals are well-versed in a wide range of tyre types and puncture repairs, ensuring high-quality service regardless of your vehicle.</li>
                <li><strong>Customer Satisfaction:</strong> We prioritize your safety and satisfaction, providing reliable repairs that stand the test of time.</li>
            </ul>
            <p class="lead">Don't let a puncture slow you down. Contact Tyre Emergency for prompt and professional mobile tyre repair services. We’re committed to getting you back on the road quickly and safely.</p>
        </div>
    </main>
    <CTA2/>
</Layout>
<style>
    #hero {
        min-height: 60vh;
        background: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("/img/tyre-repair-service.jpeg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
</style>
