---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
const phoneNumber = "0330 133 9311"
---

<ServiceLayout
    title="Mobile Caravan Tyre Fitting | Tyre Emergency Ltd"
    description="Get your caravan tyres fitted at home or on-site with our mobile fitting service. Call today for a quote."
    heading="Caravan Tyres Getting Old?"
    tagline="We Fit at Home or On Site - 7 Days a Week"
    backgroundUrl="/img/mobile-tyre-fitting.webp"
    >
    <h1 class="fw-bold mb-3">Mobile Caravan Tyre Fitting</h1>
    <p>If your caravan tyres are over 5 years old, it's probably time to change them - especially if you've got plans to travel anywhere soon. The problem is changing the tyres on your caravan can be a bit of a faff. You've got to attach your caravan to your car, tow it to a tyre shop, wait around for an hour or so, and then tow it back home.</p>
    <p>The good news is all of this can be avoided by using our mobile tyre fitting service. We'll come to you at your home, or at the storage site where your caravan is located, and replace the tyres on the spot. No messing around or wasted time.</p>
    <p>And the best part is, there is no extra charge for this service. That's right, we will come to you and replace your tyres for the same price as if you went to a tyre shop.</p>
    <h2 class="fw-bold">How Does It Work?</h2>
    <p>It's quite simple really. It starts with a phone call to Dean (you can contact him on 0330 133 9311). You will need the following information before you call him:</p>
    <ul>
        <li>The tyre size i.e. 185R14C</li>
        <li>The postcode where the caravan is located</li>
        <li>The date you'd like him to visit</li>
    </ul>
    <p>With that information, he can work out a fully inclusive price for your caravan tyres to be fitted.</p>
    <h2 class="fw-bold">Why Use Our Mobile Service?</h2>
    <p>At the end of the day, caravans tyres are a different kettle of fish to standard car tyres. They require a tyre fitter who knows what they are doing. You've got motor movers, tyron-bands, support legs, and a number of other important factors to consider during the tyre replacement process. If you get an unexperienced fitter changing your tyres, it could end up with an expensive mistake.</p>
    <p>We deal with caravan tyres on a daily basis. We've got the tools onboard to handle all types of caravans and we have multiple account customers who trust us to change their caravan and motorhome tyres on a frequent basis.</p>
    <p>So if you're in the market for some new tyres for your pride and joy, and you want some peace of mind before going on your next trip, just give us a ring and we'll be happy to help!</p>
</ServiceLayout>
