---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout
    title="Mobile Tyre Fitting | Tyre Emergency Ltd"
    description="Get your tyres fitted at home, work or roadside today with our mobile tyre fitting service. Call today for a quote."
    heading="Mobile Tyre Fitting"
    tagline="We Come to You - 7 Days a Week"
    backgroundUrl="/img/mobile-tyre-service.webp"
    >
    <h1 class="fw-bold mb-3">Mobile Tyre Fitting</h1>
    <p>Do you need to replace your car or van tyres, but you don't want to travel to a tyre shop? Or maybe you've just had a blowout and now you're stranded with a flat tyre? If so, then our mobile tyre fitting service is perfect for you!</p>
    <p>Mobile tyre fitting is the new and easy way of changing your tyres. It involves one of our tyre fitters driving a tyre van to your location and replacing your old tyres on the spot.</p>
    <p>There's no need to take time off work, and no need to get recovered to a garage. We've got all the gear onboard our mobile tyre vans to change your car or van tyres in a safe and professional manner.</p>
    <h2 class="fw-bold">How Does It Work?</h2>
    <p>If you've never used a mobile tyre service before, then he's a quick summary:</p>
    <ol>
        <li><strong>Call Us:</strong> Give us a ring on 0330 133 9311 with your tyre size and postcode. We can then get you a price for some new tyres.</li>
        <li><strong>Book a Time:</strong> We work 7 days a week so we'll operate around your schedule.</li>
        <li><strong>Pay Upon Completion:</strong> Once your new tyres are installed, we will then take payment by cash or card.</li>
    </ol>
    <p>That's pretty much it... And if you need an emergency tyre replacement then it's even easier because we'll just come to you straight away. We always aim to get to you within 60 minutes, depending on your location of course.</p>
    <h2 class="fw-bold">Get a Quote Today</h2>
    <p>If you'd like a price for a tyre or have any questions, just ring Dean on 0330 133 9311. He'll be happy to help.</p>
    </ServiceLayout>
