---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
const phoneNumber = "0330 133 9311"
---

<ServiceLayout
    title="Mobile Caravan Tyre Fitting | Tyre Emergency Ltd"
    description="Get your caravan tyres fitted at home or on-site with our mobile fitting service. Call today for a quote."
    heading="Caravan Tyres Need Changing?"
    tagline="We Come to You at Home or On-Site"
    backgroundUrl="/img/mobile-tyre-fitting.webp"
    >
    <h1 class="fw-bold mb-3">Mobile Caravan Tyre Fitting</h1>
    <p>If your caravan tyres are over 5 years old, it's probably time to change them—especially if you have travel plans soon. Changing caravan tyres can be quite a hassle. You need to attach your caravan to your car, tow it to a tyre shop, wait around for an hour or so, and then tow it back home.</p>
    <p>The good news is you can avoid all this by using our mobile tyre fitting service. We'll come to your home or the storage site where your caravan is located and replace the tyres on the spot. No messing around or wasted time.</p>
    <p>And the best part? There's no extra charge for this service. That's right, we will come to you and replace your tyres for the same price as if you went to a tyre shop.</p>
    <h2 class="fw-bold">How Does It Work?</h2>
    <p>It's quite simple. It starts with a phone call to Dean at 0330 133 9311. Before you call, have the following information ready:</p>
    <ul class="text-start">
        <li>The tyre size (e.g. 185R14C)</li>
        <li>The postcode where the caravan is located</li>
        <li>The date you'd like us to visit</li>
    </ul>
    <p>With this information, Dean can provide you with a fully inclusive price for your caravan tyre fitting.</p>
    <h2 class="fw-bold">Experienced Fitters</h2>
    <p>Caravan tyres are different from standard car tyres and require a tyre fitter who knows what they are doing. Motor movers, Tyron-bands, support legs, and other factors must be considered during the tyre replacement process. An inexperienced fitter could make costly mistakes.</p>
    <p>We handle caravan tyres daily and have the tools to work on all types of caravans. Many customers trust us to change their caravan and motorhome tyres frequently.</p>
    <h3 class="fw-bold">Contact Us For a Quote</h3>
    <p>If you're in the market for new tyres for your pride and joy and want peace of mind before your next trip, give us a ring. We'll be happy to help!</p></ServiceLayout>
