---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Tyre Emergency Ltd">
    <main>
        <h1 class="bg-secondary text-light text-center py-5 fw-bold">About</h1>
        <div class="container my-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis adipisci ipsam saepe praesentium fugit amet cumque. Voluptate rerum harum porro iure explicabo nisi, ipsa tenetur perspiciatis vitae dignissimos corporis optio?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis adipisci ipsam saepe praesentium fugit amet cumque. Voluptate rerum harum porro iure explicabo nisi, ipsa tenetur perspiciatis vitae dignissimos corporis optio?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis adipisci ipsam saepe praesentium fugit amet cumque. Voluptate rerum harum porro iure explicabo nisi, ipsa tenetur perspiciatis vitae dignissimos corporis optio?</p>
        </div>
    </main>
</Layout>