---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Tyre Emergency Ltd" description="Learn more about Tyre Emergency - your reliable 24-hour mobile tyre fitting service">
    <main>
        <h1 class="bg-dark text-light text-center py-5 fw-bold">
            About
        </h1>
        <div class="container my-5">
            <p>Tyre Emergency is your dependable 24-hour mobile tyre fitting service, conveniently located in Bilsthorpe, Newark. Founded and operated by Dean Spicer, a seasoned expert with over a decade of experience in the tyre industry. Dean specialises in car, van, and caravan tyres, ensuring that you receive top-notch service tailored to your specific needs.</p>
            <p>What sets Tyre Emergency apart from the competition is our unwavering commitment to <strong class="fw-bold">speed</strong> and unparalleled customer service. We understand the urgency of your situation, which is why we prioritize swift response times. With an average arrival time of less than 60 minutes, we pride ourselves on reliability and delivering on our promises.</p>
        </div>
    </main>
</Layout>
