---
import Layout from "../layouts/Layout.astro";
---

<Layout noIndex={false} title="About | Tyre Emergency Ltd" description="Learn more about Tyre Emergency - your trusted 24-hour mobile tyre fitting service in the East Midlands. We come to you anytime, anywhere.">
    <main>
        <h1 class="bg-dark text-light text-center py-5 fw-bold">
            About Tyre Emergency
        </h1>
        <div class="container my-5">
            <p><strong>Tyre Emergency</strong> is a 24-hour mobile tyre fitting service based in Nottinghamshire, UK. We specialise in fast-response emergency tyre replacements—whether you're at home, at work, or stranded roadside.</p>

            <p>Owned and operated by Dean Spicer, who brings over 10 years of tyre industry experience, our service is built on speed and expertise.</p>
            
            <p>We supply and fit tyres for a wide range of vehicles, including cars, vans, caravans, trailers, and motorhomes.</p>
            
            <p>Our mission is simple: to deliver fast, high-quality service at a fair price.</p>
            
            <p>We know how stressful and dangerous a flat tyre can be, especially on the roadside. That’s why we aim to reach our customers within 60 minutes of receiving a call.</p>
            
            <p>By keeping our overheads low, we're able to pass on the savings—making us one of the most competitively priced emergency tyre services in the region.</p>
            
            <p>While emergency callouts are our speciality, we also offer next-day, non-emergency mobile tyre fitting across Mansfield, Newark, and Worksop.</p>
            
            <p>If you're looking for a local mobile tyre service in Nottinghamshire, call us today on <strong>0330 133 9311</strong>.</p>
            
        </div>
    </main>
</Layout>
