---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Tyre Emergency Ltd">
    <main>
        <h1 class="bg-secondary text-light text-center py-5 fw-bold">About</h1>
    </main>
</Layout>