---
import Layout from "../layouts/Layout.astro";
---

<Layout noIndex={false} title="About | Tyre Emergency Ltd" description="Learn more about Tyre Emergency - your trusted 24-hour mobile tyre fitting service in the East Midlands. We come to you anytime, anywhere.">
    <main>
        <h1 class="bg-dark text-light text-center py-5 fw-bold">
            About Us
        </h1>
        <div class="container my-5">
            <p>Hello there 👋</p>
            <p>My name is Dean, and I’m the owner and operator of Tyre Emergency—a 24-hour mobile tyre fitting service based in Nottinghamshire, UK.</p>
            <p>My journey in the tyre industry started over 10 years ago, working in my Dad’s mobile tyre fitting business in Dorset. Over the years, I’ve gained extensive experience by working for both large and small tyre companies, honing my skills in vehicle repair, including suspension, brakes, exhausts, and locking wheel nuts. However, my true passion and speciality lies in tyres for passenger vehicles—cars, vans, caravans, and trailers.</p>
            <p>At Tyre Emergency, I pride myself on being reliable, trustworthy, and approachable. My goal is to provide the best possible service to every customer by maintaining clear and honest communication. I know how stressful it can be to deal with a blowout at the side of the road, so I always ensure you’ll know exactly how long the repair will take and the full cost upfront—no hidden fees, no surprises.</p>
            <h2 class="fw-bold">A Few Things About Me</h2>
            <p>Outside of work, I enjoy spending time on my hobbies:</p>
            <ul>
                <li>Supporting Everton Football Club</li>
                <li>Watching and playing cricket</li>
                <li>Dabbling in coding projects</li>
            </ul>
            <p>Thanks for taking the time to learn a little about me and Tyre Emergency. I hope this gives you confidence in reaching out to discuss your tyre needs. Whether it’s a flat tyre, a puncture, or an emergency call-out, I’m here to help.</p>
            <p>I look forward to speaking with you soon!</p>
            <p>Take care,</p>
            <p>Dean</p>
        </div>
    </main>
</Layout>
