---
import Layout from "../layouts/Layout.astro";
---

<Layout noIndex={false} title="About | Tyre Emergency Ltd" description="Learn more about Tyre Emergency - your reliable 24-hour mobile tyre fitting service in the East Midlands. We come to you 24 hours a day.">
    <main>
        <h1 class="bg-dark text-light text-center py-5 fw-bold">
            About
        </h1>
        <div class="container my-5">
            <div class="row">
                <div class="col-6">
                    <p>I'm Dean, the proud owner and operator of Tyre Emergency, your 24-hour mobile tyre fitting service based in the East Midlands. With over 10 years of experience in the tyre industry, I bring a wealth of knowledge and expertise to ensure you get back on the road quickly and safely.</p>
            <p>My journey in the tyre business began in Dorset, where my father runs his own successful tyre company. Learning the ropes from a young age, I developed a deep understanding and passion for the industry. This foundation led me to establish Tyre Emergency after moving to Nottinghamshire, driven by a desire to provide a reliable and convenient service for drivers in distress.</p>
            <p>At Tyre Emergency, I specialise in:</p>
            <ul>
                <li><span class="fw-bold">Mobile Tyre Fitting:</span> Wherever you are, I'll come to you and fit your tyres on the spot.</li>
                <li><span class="fw-bold">Locking Wheel Nut Removal:</span> Got a tricky locking wheel nut? I have the tools and expertise to resolve it.</li>
                <li><span class="fw-bold">TPMS:</span> Dealing with dodgy tyre pressure sensors? I'll diagnose and fix the problem efficiently.</li>
                <li><span class="fw-bold">Batteries:</span> Need a new car battery? I've got you covered.</li>
            </ul>
            <p>I pride myself on delivering a friendly and professional service, treating your vehicle with the utmost care and respect, just as if it were my own. When you choose Tyre Emergency, you can trust that you're in capable hands, and I'll go the extra mile to ensure your complete satisfaction.</p>
            <p>Thank you for considering Tyre Emergency. Whether you're stranded with a flat tyre or facing any other tyre-related issues, I'm here to help 24/7. Your safety and convenience are my top priorities.</p>
            <p><span class="fw-bold">Dean</span></p>
            <p>Director & Operator, Tyre Emergency</p>
                </div>
                <div class="col-5 offset-1">
                    <img src="/img/dean-tyre-emergency.jpeg" alt="Dean (owner of Tyre Emergency) inflating a caravan tyre on a tyre machine." width="100%">
                </div>
            </div>
        </div>
    </main>
</Layout>
