---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Tyre Emergency Ltd" description="">
    <main>
        <h1 class="bg-secondary text-light text-center py-5 fw-bold">
            About Tyre Emergency
        </h1>
        <div class="container my-5 lead">
            <p>
                <strong>Tyre Emergency</strong> stands at the forefront of
                emergency mobile tyre fitting services in Bilsthorpe, Newark.
                Strategically located to serve the expanse of Nottinghamshire,
                our dedicated teams operate fleet vans equipped with
                state-of-the-art tools and technology, ensuring we're ready to
                respond seven days a week.
            </p>

            <h2 class="fw-bold">Our Mission</h2>
            <p>
                At the heart of our service is a commitment to ensuring your
                safety and convenience. We understand the frustration and
                potential hazards of a flat tyre. That’s why our primary goal is
                to get you back on the road swiftly and safely. Whether you're
                stranded at the roadside or at home, our quick response team is
                just a call away.
            </p>

            <h2 class="fw-bold">A Decade of Trust and Expertise</h2>
            <p>
                With a rich history spanning over 10 years in the tyre trade,
                our expertise is unmatched. We pride ourselves on not just our
                technical skills, but also our customer-centric approach. When
                you choose Tyre Emergency, you're choosing a partner who values
                your safety and time as much as you do.
            </p>

            <h2 class="fw-bold">More Than Just Emergency Services</h2>
            <p>
                While emergency mobile tyre fitting is our specialty, our range
                of services caters to various tyre-related needs. This includes
                TPMS (Tyre Pressure Monitoring System) Services, Locking Wheel
                Nut Removal, Puncture Repairs, and Wheel Balancing.
            </p>

            <p>
                In need of new tyres or facing an unexpected blowout? Our team
                is ready to provide you with a competitive quote or immediate
                assistance. Your peace of mind is just a call away. <strong
                    >Contact us today</strong
                > and experience the Tyre Emergency difference – where your
                safety and time are our top priorities.
            </p>
        </div>
    </main>
</Layout>
