---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About | Tyre Emergency Ltd">
    <main>
        <h1 class="bg-secondary text-light text-center py-5 fw-bold">About</h1>
        <div class="container my-5 lead">
            <p>Tyre Emergency is an emergency mobile tyre fitting service based in Bilsthorpe, Newark. We cover a large area of Nottinghamshire and our vans are available seven days a week.</p>
            <p>Our goal is to help people with flat tyres get back on the road as quickly and safely as possible.</p>
            <p>With over 10 years in the tyre trade, you can trust us to look after you and your vehicle.</p>
            <p>Whilst we specialise in emergency mobile tyre fitting, we do offer a wide range of tyre related services including TPMS, locking wheel nut removal, puncture repairs, and wheel balancing.</p>
            <p>If you'd like a quote for some new tyres, or if you've had a blowout and need urgent assistance, give us a call today!</p>
        </div>
    </main>
</Layout>