---
import Layout from "../layouts/Layout.astro";
---

<Layout noIndex={false} title="About | Tyre Emergency Ltd" description="Learn more about Tyre Emergency - your reliable 24-hour mobile tyre fitting service in the East Midlands. We come to you 24 hours a day.">
    <main>
        <h1 class="bg-dark text-light text-center py-5 fw-bold">
            About
        </h1>
        <div class="container my-5">
                   <p>Hello there 👋</p>
                   <p>My name is Dean and I’m the owner and operator of Tyre Emergency - a 24 hour mobile tyre fitting service based in Nottinghamshire, UK.</p>
                   <p>My experience in the tyre industry goes back over 10 years to when I was involved in my Dad’s mobile tyre fitting business in Dorset. Since then I’ve worked for several large and small tyre companies and acquired a wide range of experiences in vehicle repair, including suspension, brakes, exhausts, locking wheel nuts and so on; however, my speciality is tyres for passenger vehicles i.e. cars, vans, caravans, and trailers.</p>
                   <p>I pride myself in being reliable, trustworthy, and friendly. I always try to provide the best possible service to all my customers and communicate in a clear and transparent way. It’s not pleasant when  you have a blowout at the side of the road so I understand how important it is to know exactly how long it will take to sort and the cost upfront with no hidden fees.</p>
                   <p>Things I love:</p>
                   <ul>
                    <li>Everton Football Club</li>
                    <li>Cricket</li>
                    <li>Coding</li>
                   </ul>
                   <p>Thanks for taking the time to read this. I hope you feel more comfortable with the idea of giving me a call to discuss your tyre issues. I hope to speak with you soon!</p>
                   <p>Take care,</p>
                   <p>Dean</p>
        </div>
    </main>
</Layout>
