---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout title="Contact | Tyre Emergency Ltd" description="">
    <main>
        <h1 class="bg-secondary text-light text-center py-5 fw-bold">
            Contact Tyre Emergency
        </h1>
        <div class="container my-5">
            <div class="row">
                <p class="text-center mb-5 lead">
                    If you'd like a quote for any of our services, feel free to
                    send us a message or call us on <a href="tel:03301339311" class="link-warning">0330 133 9311</a>.
                </p>
                <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <Form />
                </div>
            </div>
        </div>
    </main>
</Layout>
