---
import ServiceLayout from "../layouts/ServiceLayout.astro";

const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout
    title="24 Hour Mobile Tyre Fitting | Tyre Emergency Ltd"
    description="Tyre Emergency Ltd is your local 24 hour mobile tyre fitting service in the East Midlands. We'll come to you in 60 minutes or less!"
    heading="Same Day Service"
    tagline="Mobile Tyre Fitting - 7 Days a Week"
>
    <h1 class="fw-bold mb-3">24 Hour Mobile Tyre Fitting</h1>
    <p>Are you in need for an <a href="/services/mobile-tyre-fitting/" class="link-info">emergency tyre replacement</a>? Maybe you've had a blowout at the side of the road and need a <strong>24 hour mobile tyre fitter</strong> near you?
    </p>
    <p>Or perhaps your tyres are getting low on tread and you'd just like the convenience of a mobile tyre fitting service who can come to you at home or work, rather than traveling to a tyre shop.</p>
    <p>At Tyre Emergency, our goal is to provide an excellent mobile tyre fitting service at a time and place that suits you.</p>

    <p>
        If you've got a flat tyre after hitting a pothole or getting a screw in
        your tyre, we can help! Our mobile tyre fitters have an average arrival
        time of <strong>60 minutes</strong> and will get you back
        on the road in no time.
    </p>
    <p>
        If you're looking for a mobile tyre service near you, give us a call
        today on <a href={`tel:${phoneNumber}`} class="link-info"
            >{phoneNumber}</a
        >. Our tyre fitters cover a wide range of the East Midlands including <a
            href="/areas/nottingham" class="link-info"
            >Nottingham</a
        >, <a href="/areas/derby" class="link-info" >Derby</a>, <a
            href="/areas/lincoln" class="link-info"
            >Lincoln</a
        >, and <a href="/areas/newark" class="link-info" >Newark</a>.
    </p>
</ServiceLayout>
