---
import ServiceLayout from "../layouts/ServiceLayout.astro";

const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout
    title="Home | Tyre Emergency Ltd"
    description="Tyre Emergency: Fast, reliable mobile tyre fitting and repair service. Available 7 days a week with a 60-minute response time. Call now for immediate assistance with your tyre emergency."
    heading="Tyres Fitted at Home or Roadside"
    tagline="We Come to You 24 Hours a Day, 7 Days a Week"
>
    <h1>24 Hour Mobile Tyre Service</h1>
    <p>
        Welcome to Tyre Emergency, the mobile tyre company that specialises in
        fast response tyre replacement at your location - whether that's at
        home, work or roadside.
    </p>

    <p>
        If you've got a flat tyre after hitting a pothole or getting a screw in
        your tyre, we can help! Our mobile tyre fitters have an average arrival
        time of <strong class="fw-bold">60 minutes</strong> and will get you back
        on the road in no time.
    </p>
    <p>
        If you're looking for a mobile tyre service near you, give us a call
        today on <a href={`tel:${phoneNumber}`} class="link-dark"
            >{phoneNumber}</a
        >. Our tyre fitters cover a wide range of the East Midlands including <a
            href="/areas/nottingham"
            class="link-dark">Nottingham</a
        >, <a href="/areas/derby" class="link-dark">Derby</a>, <a
            href="/areas/lincoln"
            class="link-dark">Lincoln</a
        >, and <a href="/areas/newark" class="link-dark">Newark</a>.
    </p>
</ServiceLayout>
