---
import ServiceLayout from "../layouts/ServiceLayout.astro";

const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout
    title="Home | Tyre Emergency Ltd"
    description="Tyre Emergency: Mobile tyre fitting in Nottingham, Worksop, Mansfield, and Newark. 24/7 emergency service and same-day fitting available. Book online now!"
    heading="Tyres Fitted at Home or Roadside"
    tagline="24 Hours a Day - 7 Days a Week"
    bookOnline={false}
>
    <h1 class="fw-bold">24 Hour Mobile Tyre Fitting</h1>
    <p>
        At Tyre Emergency, we understand the frustration and inconvenience of being stuck with a flat tyre. That’s why we offer a friendly, reliable mobile tyre fitting service designed to get you back on the road as quickly as possible.
    </p>

    <p>
        If you've got a flat tyre after hitting a pothole or getting a screw in
        your tyre, we can help! Our mobile tyre fitters have an average arrival
        time of <strong class="fw-bold">60 minutes</strong> and will get you back
        on the road in no time.
    </p>
    <p>
        If you're looking for a mobile tyre service near you, give us a call
        today on <a href={`tel:${phoneNumber}`} class="link-dark"
            >{phoneNumber}</a
        >. Our tyre fitters cover a wide range of the East Midlands including <a
            href="/areas/nottingham"
            class="link-dark">Nottingham</a
        >, <a href="/areas/derby" class="link-dark">Derby</a>, <a
            href="/areas/lincoln"
            class="link-dark">Lincoln</a
        >, and <a href="/areas/newark" class="link-dark">Newark</a>.
    </p>
</ServiceLayout>
