---
import Layout from '../layouts/Layout.astro';
import CTA from "../components/CTA.astro"
---

<Layout title="Home | Tyre Emergency Ltd">
<section id="hero" class="text-center text-white d-flex align-items-center justify-content-center">
	<div class="container">
		<p class="fw-bold display-5">Need a Tyre Urgently?</p>
		<p class="lead fs-3 mb-4">We Can Replace or Fix Your Tyre <strong class="fw-bold">Today</strong></p>
		<a href="tel:01636330055" class="btn btn-lg btn-warning fw-bold"><i class="bi bi-telephone-fill"></i> Call Now</a>
	</div>
</section>
<main>
	<div class="text-center py-5 bg-light">
		<div class="container">

			<h1 class="fw-bold">Tyre Emergency</h1>
			<h2 class="fw-bold text-warning mb-5">Your Local Mobile Tyre Service in Nottingham & Newark</h2>
			<p class="lead">If you're looking for a mobile tyre service in Nottingham that can come to you today, you've come to right place. At <strong class="fw-bold">Tyre Emergency</strong>, we specialise in providing a fast response emergency tyre fitting service at your home or roadside.</p>
			<p class="lead">Our mobile tyre fitters are available seven days a week and cover a wide area of <strong class="fw-bold">Nottingham and Newark</strong>.</p>
		</div>
	</div>
</main>
<CTA/>
</Layout>

<style>
	#hero {
		min-height: 60vh;
		background:linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("/img/mobile-tyre-fitting.jpeg");
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}
</style>