---
import ServiceLayout from "../layouts/ServiceLayout.astro";

const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout
    title="24 Hour Mobile Tyre Fitting | Tyre Emergency Ltd"
    description="Tyre Emergency is your local 24 hour mobile tyre service in the Nottinghamshire area. We provide a fast response tyre breakdown service at your location."
    heading="24Hr Mobile Tyre Service"
    tagline="We Come to You - 7 Days a Week"
    onlineBooking={false}
>
    <h1 class="fw-bold mb-3">24 Hour Mobile Tyre Fitting</h1>
    <p><em>Are you in the need of a <strong>mobile tyre fitter near you</strong>? We aim to get to you in 60 minutes or less!</em></p>
    <p>Tyre Emergency is your local 24 hour mobile tyre service in the Nottinghamshire area. We specialise in providing a fast response tyre breakdown service at your location. Our vans are fully equipped to change tyres on the motorway, at your workplace, or at your home.</p>
    <p>Our mobile tyre vans operate across a wide range of areas, including:</p>
    <ul>
        <li><a href="/areas/nottingham" class="link-danger">Nottingham</a></li>
        <li><a href="/areas/mansfield" class="link-danger">Mansfield</a></li>
        <li><a href="/areas/worksop" class="link-danger">Worksop</a></li>
        <li><a href="/areas/newark" class="link-danger">Newark-on-Trent</a></li>
        <li><a href="/areas/chesterfield" class="link-danger">Chesterfield</a></li>
    </ul>
    <p>If you'd like a price for our <a href="/services/mobile-tyre-fitting" class="link-danger">mobile tyre fitting</a> service then give Dean a call today on <a href="tel:03301339311" class="link-danger">0330 133 9311</a>. He'll ask you for your tyre details and postcode, and then provide you with a price and ETA.
    </p>
</ServiceLayout>
