---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Tyre Emergency Ltd">
<section id="hero" class="text-center text-white d-flex align-items-center justify-content-center">
	<div class="container">
		<p class="fw-bold display-5">Flat Tyre? No Problem.</p>
		<p class="lead fs-3">We'll get you back on the road in no time!</p>
		<a href="#" class="btn btn-lg btn-warning"><i class="bi bi-telephone-fill"></i> Call Now</a>
	</div>
</section>
<main>
	<div class="text-center py-5 bg-light">
		<div class="container">

			<h1 class="fw-bold mb-5">Emergency Mobile Tyre Fitting & Repair Service</h1>
			<p class="lead">Don't let a flat tyre disrupt your plans. <strong class="fw-bold">Tyre Emergency</strong> is your quick, on-the-spot solution for mobile tyre fitting and repair across <strong class="fw-bold">Nottingham and Newark</strong>.</p>
			<p class="lead">Whether you're stuck at the roadside, at home, or rushing to an appointment, we're here to get you back on track – fast.</p>
			<p class="lead">No spare wheel? No breakdown cover? No problem. With an average arrival time of less than 60 minutes, we're the swift and reliable help you need when you're in a tight spot.</p>
			<p class="lead">Don't stress; let Tyre Emergency handle the flat, so you can keep rolling.</p>
		</div>
	</div>
</main>
<section class="bg-warning text-center">
	<div class="container py-5">
		<p class="fs-3">Need a tyre urgently? Call <strong class="fw-bold">Tyre Emergency</strong></p>
		<a href="#" class="btn btn-secondary btn-lg"><i class="bi bi-telephone-fill"></i> 0333 000 1111</a>

	</div>
</section>
</Layout>

<style>
	#hero {
		min-height: 60vh;
		background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("/img/flat-tyre.jpg");
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}
</style>