---
import Layout from "../layouts/Layout.astro";
---

<Layout
    noIndex={false}
    title="Customer Reviews | Tyre Emergency Ltd"
    description="Check out our most recent customer reviews for our emergency mobile tyre fitting service."
>
    <main class="container py-5">
        <h1 class="fw-bold mb-5 text-center">Our Reviews</h1>
        <!-- <p class="mb-5 text-center">We’ve helped thousands of drivers get back on the road when they needed it most, and we’d love for you to hear their stories. Check out what people have said about our emergency mobile tyre fitting service—you’ll see just how much they appreciate what we do. If we’ve been there for you, it would mean so much to us if you could take a moment to share your experience. Not only does it help us, but it also helps others feel confident knowing they’re in safe hands.</p> -->

        <script defer async src='https://cdn.trustindex.io/loader.js?f05ea2c388535635414604af8d8'></script>
    </main>
</Layout>
