---
import Layout from "../layouts/Layout.astro";
const phoneNumber = import.meta.env.PHONE_NUMBER
---

<Layout
    noIndex={true}
    title="Thank You | Tyre Emergency Ltd"
    description="Thank you page for Tyre Emergency Ltd."
>
    <main class="container py-5">
        <h1 class="mb-5">Thank You</h1>
        <p>We have received your quote request.</p>
        <p>You will get a phone call or an email from us in the next 24 hours.</p>
        <p>If you need a quote ASAP then give us a call on <a href={`tel:${phoneNumber}`}>{phoneNumber}</a>.</p>
        <a href="/" class="btn btn-warning mt-5">Back to home page</a>
    </main>
</Layout>
