---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Terms and conditions | Tyre Emergency Ltd"
    description="Terms and conditions for Tyre Emergency Ltd."
>
    <main class="container py-5">
        <h1>Thank You!</h1>
        <p>We have received your form submission. A member of our team will be in touch with you via SMS or email as soon as possible.</p>
    </main>
</Layout>


