

  <nav class="navbar py-3 bg-white">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/logos/logo.png" alt="Tyre Emergency logo" width="150">
        </a>
        <a href="tel:0330 1333 455" class="btn btn-danger btn-lg fw-bold text-light"><i class="bi bi-telephone-fill"></i> <span class="d-none d-md-inline">0330 1333 455</span></a>
      </div>
    </nav>
    <div class="bg-dark border-bottom">
      
      <script defer async src='https://cdn.trustindex.io/loader.js?4548a4438a6b9600d176de44775'></script>
  </div>

