<article class="container py-5 text-center">
    <h2 class="fw-bold">We've Helped Hundreds of Stranded Drivers</h2>
    <p class="lead">Our goal is to get to you in less than 60 minutes and provide exceptional customer service along the way. Don't just take our word for it though, here's what our customers are saying about us...</p>
  <script
    defer
    async
    src="https://cdn.trustindex.io/loader.js?85b195e40d6d07754d66bbf3d78"
  ></script>
</article>