---
const {imageUrl, story, area} = Astro.props;
---

<article class="row border g-0 mb-3 bg-light">
    <div class="col-md-6 p-3 d-flex flex-column justify-content-center">
        <h2 class="fw-bold">Tyres Fitted in {area}</h2>
        <p>{story}</p>

    </div>
    <div class="col-md-6">
        <img src=`${imageUrl}` alt=`Mobile tyre fitting in ${area}` width="100%" height="100%">
    </div>
</article>