<article class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center align-items-md-start text-md-start mb-5 mb-md-0">

                <h2 class="fw-bold">Areas We Cover</h2>
                <p class="lead mb-3">We provide a 24 hour mobile tyre fitting service across Nottinghamshire and surrounding areas, including:</p>
                <ul class="lead">
                    <li>Mansfield</li>
                    <li>Newark</li>
                    <li>Worksop</li>
                    <li>Chesterfield</li>
                    <li>Nottingham</li>
                    <li>Lincoln</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <img
                src="/img/24-hour-mobile-tyre-fitting-service.webp"
                alt=""
                id="adHeroImg"
                class="rounded w-100"
              />
            </div>
        </div>
    </div>
    
</article>