<div id="areasWeCover" class="p-5 text-light">
    <p class="h3 fw-bold mb-3 text-center"><i class="text-danger bi bi-geo-alt-fill"></i> Areas We Cover</p>
    <div class="row">
        <div class="col">
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Mansfield</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Edwinstowe</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Rainworth</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Newark</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Nottingham</p>
        </div>
        <div class="col">
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Warsop</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Ollerton</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Southwell</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Farnsfield</p>
            <p class="mb-0"><i class="text-danger bi bi-check"></i>Ravenshead</p>
        </div>
    </div>
</div>

<style>

    #areasWeCover {
        background: linear-gradient(0deg,
            rgba(20, 20, 20, 0.85),
            rgba(20, 20, 20, 0.85)),
        url(/img/tyre-emergency-van.jpeg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>