<section class="py-5 my-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center text-lg-start order-2 order-lg-1">
                <h2>24/7 Availability</h2>
                <p class="lead">A flat tyre can happen at any time, which is why we offer a 24 hour service.</p>
                <p class="lead">We'll come to you at midnight or midday to help you get back on the road.</p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">

                    <img src="/illustrations/24-hour.png" alt="Illustration of a clock" class="w-100"/>

            </div>
        </div>
    </div>
</section>
<section class="py-5 my-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <img src="/illustrations/speed.png" alt="Illustration of a speedometer"/>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center text-lg-start ">
                <h2>Fast & Reliable</h2>
                <p class="lead">When you're in the middle of nowhere with a flat tyre, we appreciate that you want fast service that wont let you down.</p>
                <p class="lead">We aim to get to you within 60 minutes of calling us and keep you update with our location.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center text-lg-start order-2 order-lg-1">
                <h2>East Midlands Coverage</h2>
                <p class="lead">We cover a wide range of the East Midlands, including Nottingham, Mansfield, Newark, Worksop and Derby.</p>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">

                    <img src="/illustrations/map.png" alt="Illustration of a clock" class="w-100"/>

            </div>
        </div>
    </div>
</section>