---
const { heading, tagline } = Astro.props;
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<section id="hero">
    <div
        class="container d-flex flex-column align-items-center justify-content-center text-center text-md-start"
    >
        <p class="fw-bold display-5">{heading}</p>
        <p class="lead fs-3 mb-5">{tagline}</p>
       
        <div class="d-flex flex-column align-items-center">
            <form action="https://mytyrebookings.co.uk" method="post" class="mb-3 text-center" target="_blank">
                <h5 class="mb-3 text-light fs-3">Get a Quote</h5>
                <div class="input-group">
                    <input type="text" class="form-control text-center font-monospace fw-bold text-uppercase bg-warning border border-warning fs-3" name="vrm" placeholder="Enter Reg" required>
                    <button class="btn btn-success fw-bold font-monospace fs-3 text-uppercase rounded-end" type="submit" id="lookUpVRMBtn">Go</button>
                </div>
            </form>
            <span>
                Rated <i class="bi bi-star-fill text-warning"></i><i
                    class="bi bi-star-fill text-warning"></i><i
                    class="bi bi-star-fill text-warning"></i><i
                    class="bi bi-star-fill text-warning"></i><i
                    class="bi bi-star-fill text-warning"></i> on Google
            </span>
        </div>
    </div>
</section>