---
const { phoneNumber = "0330 133 9311" } = Astro.props;
---
<section class="bg-dark text-light text-center py-5">
	<div class="container">
		<p class="fs-3 accent text-uppercase">Need help urgently? <span class="text-danger">Call Tyre Emergency</span></p>
		<a href={`tel:${phoneNumber}`} class="btn btn-danger text-light accent btn-lg"><i class="bi bi-telephone-fill me-2"></i> {phoneNumber}</a>
	</div>
</section>