<section class="bg-primary text-light text-center">
	<div class="container py-5">
		<p class="fs-3">Need help urgently? <strong class="fw-bold">Call Tyre Emergency</strong></p>
		<a href="tel:01636330055" class="btn btn-secondary btn-lg fw-bold call-btn"><i class="bi bi-telephone-fill"></i> 01636 33 00 55</a>

	</div>
</section>