---
const { phoneNumber = "0330 133 9311" } = Astro.props;
---

<div class="d-grid fixed-bottom d-md-none text-light fs-3 d-none" id="ctaBar">
    <div class="row">
        <a
            href={`tel:${phoneNumber}`}
            class="link-light col-12 bg-danger d-flex align-items-center justify-content-center p-3 fw-bold"
            style="text-decoration: none;"
        >
            Call Now <i class="bi bi-telephone-fill mx-2"></i> {phoneNumber}
        </a>
        <!-- <div
            class="col-6 bg-dark d-flex align-items-center justify-content-center p-3" data-bs-toggle="modal" data-bs-target="#adMessage"
        >
            <i class="bi bi-envelope-fill"></i>
        </div> -->
    </div>
</div>

<div class="modal fade" id="adMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5">Send Us a Message</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If you'd like a quote for our services then feel free to send us a message. We aim to respond as quickly as possible.</p>
                <form method="POST" action="#" data-netlify="true">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name *</label>
                        <input type="text" class="form-control form-control-lg" name="name" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" name="email" id="email" class="form-control form-control-lg" required placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Tel *</label>
                        <input type="tel" name="phone" id="phone" class="form-control form-control-lg" required placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message *</label>
                        <textarea name="messsage" id="message" class="form-control form-control-lg" placeholder="" rows="5" required></textarea>
                    </div>
                    <div class="d-grid">

                        <button class="btn btn-success" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const ctaBar = document.getElementById("ctaBar");
        
        function checkScroll() {
            if (window.scrollY >= 100) {
                ctaBar.classList.remove("d-none");
            } else {
                ctaBar.classList.add("d-none");
            }
        }

        window.addEventListener('scroll', checkScroll)
    });
</script>