---
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<div class="d-grid fixed-bottom d-md-none text-light fs-3">
    <div class="row">
        <a
            href={`tel:${phoneNumber}`}
            class="link-light col-6 bg-danger d-flex align-items-center justify-content-center p-3"
        >
            <i class="bi bi-telephone-fill"></i>
        </a>
        <div
            class="col-6 bg-dark d-flex align-items-center justify-content-center p-3" data-bs-toggle="modal" data-bs-target="#adMessage"
        >
            <i class="bi bi-envelope-fill"></i>
        </div>
    </div>
</div>

<div class="modal fade" id="adMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5">Send Us a Message</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="#" data-netlify="true">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name *</label>
                        <input type="text" class="form-control" name="name" placeholder="John Smith" required>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">Tel *</label>
                        <input type="tel" name="tel" id="tel" placeholder="07123 456789" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email *</label>
                        <input type="email" name="email" id="email" class="form-control" required placeholder="johnsmith@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="registration">Vehicle Registration</label>
                        <input type="text" class="form-control" name="registration" id="registration" placeholder="LD07 LTF">
                    </div>
                    <div class="mb-3">
                        <label for="postcode" class="form-label">Postcode *</label>
                        <input type="text" name="postcode" id="postcode" class="form-control" required placeholder="NG22 8GA">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea name="messsage" id="message" class="form-control" placeholder="Write your message here..." rows="5"></textarea>
                    </div>
                    <div class="d-grid">

                        <button class="btn btn-success" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
