<div class="bg-warning py-3 fw-bold">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-center mb-2 mb-lg-0 text-lg-start"><i class="bi bi-calendar-check-fill me-3"></i>Open 7 Days a Week</div>
            <div class="col-lg-4 col-12 text-center mb-2 mb-lg-0"><i class="bi bi-clock-fill me-3"></i>Fast Response Time</div>
            <div class="col-lg-4 col-12 text-center mb-lg-0 text-lg-end"><i class="bi bi-map-fill me-3"></i>Nottingham & Newark Areas</div>
        </div>
    </div>
</div>