<div class="mb-0 d-none d-lg-block bg-dark text-light border-bottom border-dark py-3 fw-bold">
    <div class="container d-flex align-items-center justify-content-between">

        <span><i class="bi bi-calendar-check-fill me-3"></i>Open 7 Days a Week</span>
        <span>
            
            <i class="bi bi-clock-fill mx-3"></i>Fast Response Time
        </span>
            <span>

                <i class="bi bi-car-front-fill mx-3"></i>Cars, Vans, Caravans & Trailers
            </span>
    </div>
</span>
