<footer class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center text-center">
                <img src="/logos/main-logo.png" alt="" class="mb-3" width="150">
                <p class="h5">Emergency Mobile Tyre Fitting across Nottingham & Newark</p>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center text-center">
                <p class="h5">Call Us For Assistance</p>
                <p class="h5 fw-bold mb-3 text-secondary"><i class="bi bi-telephone-fill"></i> 01636 33 00 55</p>
                <p class="h5">Or Email Us</p>
                <p class="h5 fw-bold text-secondary"><i class="bi bi-envelope-fill"></i> tyreemergencyltd@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="bg-warning small text-secondary p-1 text-center">
        <div class="container">
            <div class="row">
                <div class="col">Tyre Emergency Ltd.</div>
            </div>
        </div>
    </div>
</footer>