---
const { phoneNumber = "0330 133 9311" } = Astro.props;
---

<footer class="bg-dark text-light border-light border-top py-5 accent">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-4 col-xl-3 d-flex flex-column align-items-center align-items-lg-start text-center text-lg-start mb-4"
            >
                <img
                    src="/logos/logo-dark.png"
                    alt="Tyre Emergency Logo"
                    srcset=""
                    class="mb-4"
                    width="250px"
                />
                <small><strong>VAT No.</strong> 456597051</small>
                <small><strong>Company No.</strong> 15362025</small>
            </div>
            <div class="col-lg-4 col-xl-3 d-flex flex-column d-none d-lg-block">
                <p class="h5 mb-3 text-light">
                    Services
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="/services/mobile-tyre-fitting/"
                            class="text-light no-underline"
                            >Mobile Tyre Fitting</a>
                    </li>
                    <li>
                        <a
                            href="/services/emergency-mobile-tyre-fitting/"
                            class="text-light no-underline"
                            >Emergency Mobile Tyre Fitting</a>
                    </li>
                    <li>
                        <a
                            href="/services/puncture-repair/"
                            class="text-light no-underline"
                            >Puncture Repair</a>
                    </li>
                    <li>
                        <a
                            href="/services/mobile-caravan-tyre-fitting/"
                            class="text-light no-underline"
                            >Mobile Caravan Tyre Fitting</a>
                    </li>
                    <li>
                        <a
                            href="/services/locking-wheel-nut-removal/"
                            class="text-light no-underline"
                            >Locking Wheel Nut Removal</a>
                    </li>
                    <li>
                        <a
                            href="/services/mobile-car-battery-replacement/"
                            class="text-light no-underline"
                            >Mobile Car Battery Replacement</a>
                    </li>
                </ul>
            </div>
            <div
                class="col-lg-4 offset-xl-2 d-flex flex-column align-items-center align-items-lg-start text-center text-lg-start mb-4"
            >
                <p class="h5">Call Us</p>
                <a
                    href={`tel:${phoneNumber}`}
                    class="fs-5 mb-3 text-light no-underline"
                    ><i class="bi bi-telephone-fill text-danger"></i>
                    {phoneNumber}</a
                >
                <p class="h5">Email Us</p>
                <a
                    href="mailto:contact@tyreemergency.com"
                    class="fs-5 text-light no-underline"
                    ><i class="bi bi-envelope-fill text-danger"></i> contact@tyreemergency.com</a
                >
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 text-center text-lg-start">
            <small>Tyre Emergency Ltd 2025</small>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <small
                ><a href="/privacy-policy/" class="no-underline text-dark"
                    >Privacy Policy</a
                ></small
            >
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <small
                ><a href="/terms-and-conditions/" class="no-underline text-dark"
                    >Terms and Conditions</a
                ></small
            >
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <small
                ><a href="/cookie-policy/" class="no-underline text-dark"
                    >Cookie Policy</a
                ></small
            >
        </div>
    </div>
</div>

<style>
    .no-underline {
        text-decoration: none;
    }
    </style>