<form action="#" method="post" class="bg-light p-4 rounded" data-netlify="true">
  <p class="h3 text-center fw-bold mb-4">Get a Quote</p>
  <input
    type="text"
    class="form-control mb-3"
    placeholder="Name"
    required
    name="name"
  />
  <input
    type="tel"
    class="form-control mb-3"
    placeholder="Phone"
    required
    name="phone"
  />
  <input
    type="email"
    class="form-control mb-3"
    placeholder="Email"
    required
    name="email"
  />
  <textarea
    name="message"
    id=""
    class="form-control mb-3"
    placeholder="Message"
    required
    rows="3"></textarea>
  <div class="d-grid">
    <button class="btn btn-danger text-light fw-bold">Send</button>
  </div>
</form>
