---
const { heading, tagline } = Astro.props;
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<section id="hero">

        <p class="fw-bold display-5">{heading}</p>
        <p class="lead fs-3 mb-5">{tagline}</p>
        <a href={`tel:${phoneNumber}`} class="call-btn"
            ><i class="bi bi-telephone-fill me-2"></i>Call Now</a
        >
</section>
