---
const { bgImg, heading, tagline } = Astro.props;
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<section id="hero">
    <div class="container text-center text-light">
        <!-- Desktop -->

        <p class="fw-bold display-5 text-uppercase">{heading}</p>
        <p class="lead fs-3 mb-5">{tagline}</p>

        <a href={`tel:${phoneNumber}`} class="btn btn-danger text-white"
            ><i class="bi bi-telephone-fill me-2"></i>Call Now</a
        >
    </div>
</section>

<!-- <Feature /> -->
<style define:vars={{ bgImg }}>
    #hero {
        background: linear-gradient(
                0deg,
                rgba(20, 20, 20, 0.8),
                rgba(20, 20, 20, 0.8)
            ),
            var(--bgImg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 70vh;
        display: flex;
        align-items: center;
    }
</style>
