---
import Feature from "./Feature.astro";
const { bgImg, heading, tagline, btnText } = Astro.props;
---

<!-- <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container text-light text-center">

                <p class="fw-bold display-5">
                    {heading}
                </p>
                <p class="lead fs-3 mb-4">
                    {tagline}
                </p>
                <div class="mb-3">
                    <span class="bg-white px-3 py-2 rounded-3 text-dark fw-bold fw-bold">Rated <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fixl text-warning"></i> <i class="bi bi-star-fill text-warning"></i> On Google</span>
                </div>
                <div class="mt-5">
                    <a href="tel:03301339311" class="btn btn-lg text-light btn-primary fw-bold me-3 d-lg-none"><i class="bi bi-telephone-fill me-2"></i>Call Now</a>
                    <a href="/contact" class="btn btn-primary text-light fw-bold btn-lg d-none d-lg-inline"><i class="bi bi-envelope-fill me-2"></i>Get a Quote</a>
                </div>
                

    </div>
</section> -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <!-- Desktop -->
    <div class="row">
      <div class="col-12 col-lg-7 text-center text-lg-start text-light d-flex flex-column justify-content-center">
        <p class="fw-bold display-5">{heading}</p>
        <p class="lead fs-3 mb-4">{tagline}</p>
        <div>
            
            <a href="tel:03301339311" class="btn btn-primary text-light fw-bold mb-4 btn-lg d-lg-none"><i class="bi bi-telephone-fill me-2"></i>Call Now</a>
        </div>
        <div data-romw-token="M4jsydDiEm6ys90IsmQ8YDUWFxN1iIqVRCmOduKoJ5oW7cw12X"></div>
        <script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=7bf8acda5d5930b1a9db343a4ec1b31c" type="text/javascript"></script>
      </div>
      <div class="d-none d-lg-block col-lg-4 offset-lg-1 d-flex align-items-center justify-content-center">
        <form
          method="post"
          netlify
          class="container bg-light p-4 rounded-3"
        >
          <p class="h4 fw-bold text-center">Get a Quote</p>
          <div class="d-none">
            <input type="text" name="url" id="urlInput" />
          </div>
          <!-- Registration Section -->
          <div class="">
            <div class="mb-2">
              <input
                type="text"
                class="form-control form-control-lg text-center"
                placeholder="Enter Reg"
                id="regInput"
                name="Registration"
              />
            </div>
            <div class="">
              <div class="d-grid">
                <a class="btn btn-primary text-light fw-bold btn-lg next-btn" href="#">Next</a>
              </div>
            </div>
          </div>
          <!-- Postcode Section -->
          <div class="d-none">
            <div class="mb-2">
              <input
                type="text"
                class="form-control text-center form-control-lg"
                placeholder="Enter Postcode"
                id="postcodeInput"
                name="Postcode"
              />
            </div>
            <div class="row g-1">
              <div class="col-6 d-grid">
                <a class="btn-dark fw-bold btn btn-lg back-btn" href="#"
                  >Back</a
                >
              </div>
              <div class="col-6 d-grid">
                <a class="btn btn-primary text-light fw-bold btn-lg next-btn" href="#"
                  >Next</a
                >
              </div>
            </div>
          </div>
          <!-- Contact Section -->
          <div class="d-none">
            <div class="mb-2">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Name"
                required
                name="Name"
                id="nameInput"
              />
            </div>
            <div class="mb-2">
              <input
                type="tel"
                class="form-control form-control-lg"
                placeholder="Tel"
                required
                name="Phone"
                id="telInput"
              />
            </div>
            <div class="mb-2">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="E-Mail"
                required
                name="Email"
                id="emailInput"
              />
            </div>
            <div class="mb-2">
              <textarea
                name="Message"
                id="message"
                cols="30"
                rows="3"
                class="form-control form-control-lg"
                placeholder="Message"
                required
                id="messageInput"></textarea>
            </div>
            <div class="row g-1">
              <div class="col-6 d-grid">
                <a class="btn-dark fw-bold btn btn-lg back-btn" href="#"
                  >Back</a
                >
              </div>
              <div class="col-6 d-grid">
                <button
                  class="btn btn-primary text-light fw-bold btn-lg"
                  id="submitBtn"
                  type="submit">Submit</button
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <Feature /> -->
<style define:vars={{ bgImg }}>
  #hero {
    background: linear-gradient(
        0deg,
        rgba(51, 51, 51, 0.9),
        rgba(51, 51, 51, 0.9)
      ),
      var(--bgImg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
  }

  #regInput,
  #postcodeInput {
    text-transform: uppercase;
  }
</style>

<script>
  // Save URL href to the form
  const urlInput = document.getElementById("urlInput");
  urlInput.value = window.location.href;

  // Find all elements with the class 'next-btn' and return them as an array
  const nextBtns = document.querySelectorAll(".next-btn");

  // Apply an event listener to each element that has the class of next-btn
  nextBtns.forEach((el) => {
    el.addEventListener("click", (event) => {
      event.preventDefault();
      // Return containing div
      const currentDiv = el.parentElement.parentElement.parentElement;
      // Return next div
      const nextDiv = currentDiv.nextElementSibling;
      // Hide div
      currentDiv.classList.add("d-none");
      // Show div
      nextDiv.classList.remove("d-none");
    });
  });

  // Find all elements with the class 'back-btn' and return them as an array
  const backBtns = document.querySelectorAll(".back-btn");

  // Apply an event listener to each element that has the class of back-btn
  backBtns.forEach((el) => {
    el.addEventListener("click", (event) => {
      event.preventDefault();
      // Return containing div
      const currentDiv = el.parentElement.parentElement.parentElement;
      // Return the previous div
      const previousDiv = currentDiv.previousElementSibling;
      // Hide div
      currentDiv.classList.add("d-none");
      // Show div
      previousDiv.classList.remove("d-none");
    });
  });
</script>
