---
const { bgImg, heading, tagline, btnText } = Astro.props;
---

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container text-center text-light">
        <p class="fw-bold display-5">
            {heading}
        </p>
        <p class="lead fs-3 mb-4">
            {tagline}
        </p>
        <!-- <a href="tel:03301339311" class="btn btn-warning fw-bold btn-lg"><i class="bi bi-telephone-fill"></i> {btnText}</a> -->
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">

            <a href="tel:03301339311" class="btn btn-warning fw-bold btn-lg me-lg-3 mb-3 mb-lg-0"><i class="bi bi-telephone-fill"></i> Call Now</a>
            <a href="/contact" class="btn btn-outline-light fw-bold btn-lg"><i class="bi bi-envelope-fill"></i> Message Us</a>
        </div>
    </div>
</section>

<style define:vars={{ bgImg }}>
    #hero {
        background: linear-gradient(
                0deg,
                rgba(51, 51, 51, 0.9),
                rgba(51, 51, 51, 0.9)
            ),
            var(--bgImg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 60vh;
    }
</style>
