---
const {
  heading,
  tagline,
  backgroundUrl = "/img/mobile-tyre-fitting.webp",
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(20, 20, 20, 0.95), rgba(20, 20, 20, 0.95)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};

import Form from "./Form.astro";
---

<section id="hero" style={heroStyle}>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-7 text-light text-center text-lg-start">
        <p class="fw-bold display-3 mb-4">{heading}</p>
        <p class="lead fs-4 mb-4">{tagline}</p>
        <p class="mb-1 lead">
          <i class="bi bi-check-square me-2"></i> Open 7 Days a Week
        </p>
        <p class="mb-1 lead">
          <i class="bi bi-check-square me-2"></i> Same Day Service Available
        </p>
        <p class="mb-5 lead">
          <i class="bi bi-check-square me-2"></i> 10+ Years of Experience
        </p>
        <div class="d-lg-none">
          <script
            defer
            async
            src="https://cdn.trustindex.io/loader.js?db968ff382f059027746bf43905"
          ></script>
        </div>
        <div class="d-none d-lg-flex">
          <div>
            <script
            defer
            async
            src="https://cdn.trustindex.io/loader.js?db968ff382f059027746bf43905"
          ></script>
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-lg-4 offset-lg-1 d-flex flex-column align-items-stretch justify-content-center">
        <Form />
      </div>
    </div>
  </div>
</section>
