---
import Feature from "./Feature.astro";
const { bgImg, heading, tagline, btnText } = Astro.props;
---

<section id="hero" class="d-flex align-items-center justify-content-center">
    <!-- Desktop -->
    <div class="container text-light text-center">

                <p class="fw-bold display-5">
                    {heading}
                </p>
                <p class="lead fs-3 mb-4">
                    {tagline}
                </p>
                <div class="mb-3">
                    <span class="bg-white px-3 py-2 rounded-3 text-dark fw-bold">Rated <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fill text-warning"></i> <i class="bi bi-star-fixl text-warning"></i> <i class="bi bi-star-fill text-warning"></i> On Google</span>
                </div>
                <div class="mt-5">
                    <button class="btn btn-lg text-light btn-primary fw-bold me-3 d-lg-none"><i class="bi bi-telephone-fill me-2"></i>Call Now</button>
                    <a href="/contact" class="btn btn-primary text-light fw-bold btn-lg d-none d-lg-inline"><i class="bi bi-envelope-fill me-2"></i>Get a Quote</a>
                </div>
                

    </div>
</section>
<!-- <Feature /> -->
<style define:vars={{ bgImg }}>
    #hero {
        background: linear-gradient(
                0deg,
                rgba(51, 51, 51, 0.9),
                rgba(51, 51, 51, 0.9)
            ),
            var(--bgImg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 70vh;
    }

    #regInput,
    #postcodeInput {
        text-transform: uppercase;
    }
</style>

<!-- <script>
    // Save URL href to the form
    const urlInput = document.getElementById("urlInput");
    urlInput.value = window.location.href;

    // Find all elements with the class 'next-btn' and return them as an array
    const nextBtns = document.querySelectorAll(".next-btn");

    // Apply an event listener to each element that has the class of next-btn
    nextBtns.forEach((el) => {
        el.addEventListener("click", (event) => {
            event.preventDefault();
            // Return containing div
            const currentDiv = el.parentElement.parentElement.parentElement;
            // Return next div
            const nextDiv = currentDiv.nextElementSibling;
            // Hide div
            currentDiv.classList.add("d-none");
            // Show div
            nextDiv.classList.remove("d-none");
        });
    });

    // Find all elements with the class 'back-btn' and return them as an array
    const backBtns = document.querySelectorAll(".back-btn");

    // Apply an event listener to each element that has the class of back-btn
    backBtns.forEach((el) => {
        el.addEventListener("click", (event) => {
            event.preventDefault();
            // Return containing div
            const currentDiv = el.parentElement.parentElement.parentElement;
            // Return the previous div
            const previousDiv = currentDiv.previousElementSibling;
            // Hide div
            currentDiv.classList.add("d-none");
            // Show div
            previousDiv.classList.remove("d-none");
        });
    });
</script> -->
