<section class="container text-center mb-5 pb-5">
    <h2>How It Works</h2>
    <p class="lead">Booking our mobile tyre service is a simple as 1, 2, 3...</p>

    <div class="row mt-3 g-5">
        <div class="col-12 col-lg-4">
            <div class="bg-white shadow rounded p-5">
                <i class="bi bi-telephone-fill fs-3"></i>
                <p class="fs-3 mt-3">1. Call Us</p>
                <p>
                    Give us a call with your vehicle registration and tyre size,
                    we can then provide you with a quote for some new tyres.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-white shadow rounded p-5">
                <i class="bi bi-calendar-fill fs-3"></i>
                <p class="fs-3 mt-3">2. Make a Booking</p>
                <p>
                    If you're happy with the price then just let us know that
                    you'd like to make a booking and provide us with a date and
                    time that's convenient for you.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-white shadow rounded p-5">
                <i class="bi bi-credit-card-fill fs-3"></i>
                <p class="fs-3 mt-3">3. Payment</p>
                <p>
                    On the day of fitting, a member of our team will call you
                    when they're on their way to you. Upon completion you can
                    pay by cash or card.
                </p>
            </div>
        </div>
    </div>
</section>
