
<div class="bg-danger py-3 border-dark border-bottom text-light">
    <div class="container text-center mt-3">
        <p class="mb-3 h1">We are now closed for Christmas 🎄</p>
        <p class="lead">Normal business operations will resume on <strong class="fw-bold">28th of December, 2024</strong></p>
    </div>
</div>

<nav class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a href="/">
            <img src="/logos/logo.png" alt="logo symbol" width="150" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav text-center ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"
                        ><i class="bi bi-house-fill"></i></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="servicesDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Services
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="servicesDropdown"
                    >
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/mobile-tyre-fitting/"
                                >Mobile Tyre Fitting</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/emergency-mobile-tyre-fitting/"
                                >Emergency Mobile Tyre Fitting</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/puncture-repair/"
                                >Puncture Repair</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/mobile-caravan-tyre-fitting/"
                                >Mobile Caravan Tyre Fitting</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/locking-wheel-nut-removal/"
                                >Locking Wheel Nut Removal</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                href="/services/mobile-car-battery-replacement/"
                                >Mobile Car Battery Replacement</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="areasDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Areas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="areasDropdown">
                        <li>
                            <a class="dropdown-item" href="/areas/mansfield/"
                                >Mansfield</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/areas/newark/"
                                >Newark</a
                            >
                        </li>
                        <li>
                            <a href="/areas/worksop/" class="dropdown-item">
                                Worksop
                            </a>
                        </li>
                        <li>
                            <a href="/areas/nottingham/" class="dropdown-item">
                                Nottingham
                            </a>
                        </li>
                        <li>
                            <a href="/areas/doncaster/" class="dropdown-item">
                                Doncaster
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/reviews" class="nav-link">Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="/contact/" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="bg-dark border-bottom">

    <script defer async src='https://cdn.trustindex.io/loader.js?4548a4438a6b9600d176de44775'></script>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const currentUrl = window.location.pathname;
        const navLinks = document.querySelectorAll('.nav-link, .dropdown-item');

        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentUrl) {
                link.classList.add('active');
                if (link.closest('.dropdown-menu')) {
                    link.closest('.dropdown').querySelector('.nav-link').classList.add('active');
                }
            }
        });
    });
</script>