<nav class="navbar navbar-expand-lg py-4 bg-white">
    <div class="container">
        <a href="/">
            <img src="/logos/logo.png" alt="logo symbol" width="200">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="bi bi-house-fill"></i></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="servicesDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Services
                </a>
                <ul
                    class="dropdown-menu"
                    aria-labelledby="servicesDropdown"
                >

                    <li>
                        <a
                            class="dropdown-item"
                            href="/services/emergency-mobile-tyre-fitting"
                            >Emergency Mobile Tyre Fitting</a
                        >
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            href="/services/locking-wheel-nut-removal"
                            >Locking Wheel Nut Removal</a
                        >
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            href="/services/mobile-car-battery-replacement"
                            >Mobile Car Battery Replacement</a
                        >
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="areasDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Areas
                </a>
                <ul
                    class="dropdown-menu"
                    aria-labelledby="areasDropdown"
                >
                    <li>
                        <a class="dropdown-item" href="/areas/mansfield"
                            >Mansfield</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/areas/newark"
                            >Newark</a
                        >
                    </li>
                   <li>
                    <a href="/areas/worksop" class="dropdown-item">
                        Worksop
                    </a>
                   </li>
                   <li>
                    <a href="/areas/nottingham" class="dropdown-item">
                        Nottingham
                    </a>
                   </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>