<div>
    <form action="https://garage-bookings.com/" method="get" class="bg-light text-center p-4 rounded w-100" target="_blank">
        <input type="hidden" name="clientID" value="537">
        <input type="hidden" name="homeURL" value="https://tyreemergency.com">
        <input type="hidden" name="language" value="en">
        <input type="hidden" name="skipConfirmationPage" value="n">
        <p class="h3 mb-4">Get a Quote</p>
        <input
          type="text"
          class="form-control form-control-lg text-uppercase text-center mb-2"
          name="vrm"
          placeholder="Enter Reg"
          required
        />
        <div class="d-grid">
    
            <button
            class="btn btn-info rounded-0 btn-lg accent"
          >
            Book Now
          </button>
        </div>
    </form>
</div>