<section class="bg-light py-1 text-center" id="ReviewBar">
    <img
        src="https://www.yourtowntyres.co.uk/Images/google-widget-mobile.png"
        width="70"
        alt="Google icon"
        class="me-3"
    /><span class="fs-4 fw-bold">5.0 </span>
    <span class="text-warning fs-5"
        ><i class="bi bi-star-fill me-2"></i><i
            class="bi bi-star-fill me-2"></i><i
            class="bi bi-star-fill me-2"></i><i
            class="bi bi-star-fill me-2"></i><i
            class="bi bi-star-fill me-2"></i></span
    >
    <a href="https://g.co/kgs/hZk8AGy" class="link-dark" target="_blank"
        >94 Reviews</a
    >
</section>