<section class="py-5 bg-light">
    <div class="container">

        <h2 class="text-center fw-bold mb-5 text-uppercase">Tyre Services at Home or Roadside</h2>
        <div class="row g-5">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="border p-4 text-center shadow-sm rounded-3 bg-white">
                    <p class="h5 fw-bold">Emergency Mobile Tyre Fitting</p>
                    <p>Had a tyre blowout? We provide fast response tyre replacement service.</p>
                    <a href="/services/emergency-mobile-tyre-fitting" class="btn btn-secondary">Find out more</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="border p-4 text-center shadow-sm rounded-3 bg-white">
                    <p class="h5 fw-bold">Emergency Mobile Tyre Repair</p>
                    <p>Need a puncture repair? We can come to you at home or roadside today.</p>
                    <a href="/services/emergency-mobile-tyre-repair" class="btn btn-secondary">Find out more</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="border p-4 text-center shadow-sm rounded-3 bg-white">
                    <p class="h5 fw-bold">Locking Wheel Nut Removal</p>
                    <p>If you've lost or broke your locking wheel nut key, don't worry. We can help!</p>
                    <a href="/services/locking-wheel-nut-removal" class="btn btn-secondary">Find out more</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="border p-4 text-center shadow-sm rounded-3 bg-white">
                    <p class="h5 fw-bold">Mobile Car Battery Replacement</p>
                    <p>Car not starting? We can replace your flat battery at your location today.</p>
                    <a href="/services/mobile-car-battery-replacement" class="btn btn-secondary">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>