<article class="my-5 container py-5">
    <div class="row g-5">
        <div class="col-12 col-md-6 order-2 order-md-1 d-flex flex-column justify-content-center">
            <h2 class="mb-3">Our Services</h2>
            <ul class="lead">
                <li class="mb-2"><strong>Mobile Tyre Fitting:</strong> We come to you, wherever you are, to fit your new tyres on the spot.</li>
                <li class="mb-2"><strong>Locking Wheel Nut Removal:</strong> Lost your wheel nut key? No problem, we can help.</li>
                <li class="mb-2"><strong>TPMS (Tyre Pressure Monitoring System):</strong> We check and reset your TPMS to keep your tyres at optimal pressure.</li>
                <li class="mb-2"><strong>Batteries:</strong> Need a new battery? We’ll bring and fit a new one for you.</li>
                <li class="mb-2"><strong>Puncture Repairs:</strong> Got a puncture? We can repair it quickly and efficiently.</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <img src="/img/locking-wheel-nut-removal.webp" alt="Volvo locking wheel nut" width="100%">
        </div>
    </div>
</article>