<article class="container py-5">
    <div class="row">
        <div class="col">
            <div class="border text-center p-4 rounded-3 shadow-sm">
                <p>"I had 2 run flat tyres punctured on a Saturday afternoon due to potholes. I called Tyre Emergency as I saw them on Google Search, this is after searching the usual tyre companies who could not accomodate me. Tyre Emergency did exactly what the other big name companies couldn't and found my difficult to find tyres, called me to confirm that they had got them from the wholesaler and fitted them on my drive. The cost was also cheaper than the big boys and so much more personal. I would definitely use them again if needed."</p>
                <p class="mb-0"><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
                <p class="mb-0 fw-bold">Stephen Sewell</p>
                <p class="mb-0"><em>Google Review</em></p>
            </div>
        </div>
        <!-- <div class="col">
            <div class="border text-center p-4 rounded-3 shadow-sm">
                <p>"Brilliant service. Super fast friendly response and sorted would recommend"</p>
                <p class="mb-0"><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
                <p class="mb-0 fw-bold">Cheryl Jeffrey</p>
                <p class="mb-0"><em>Google Review</em></p>
            </div>
        </div>
        <div class="col">
            <div class="border text-center p-4 rounded-3 shadow-sm">
                <p>"Wonderful service and a great price."</p>
                <p class="mb-0"><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
                <p class="mb-0 fw-bold">Lauren Hussey</p>
                <p class="mb-0"><em>Google Review</em></p>
            </div>
        </div> -->
    </div>
</article>