---
import TestimonialCard from "./TestimonialCard.astro"
---
<section class="bg-light py-5 text-center">
    <div class="container">
        <h3 class="fw-bold text-uppercase">We've helped hundreds of stranded drivers!</h3>
        <p class="lead">With almost 100 five star reviews on Google, you can trust us to look after your vehicle.</p>

        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                <TestimonialCard name="Siobhan Walker" review="I rang Dean in the morning due to having a flat and being unable to drive to the closest garage. Within less than an hour he was out changing the tyre. Fast service from a lovely bloke and a really reasonable price! 10/10!" />
            </div>
            <div class="col-12 col-lg-4">
                <TestimonialCard name="Ady Caunt" review="I contacted Dean in the morning, he had my tyre in stock so came that afternoon to my home to fit it. It only took between 20-30 minutes and Dean was very friendly and professional. Very reasonable prices too. Will definitely use Tyre Emergency again." />
            </div>
            <div class="col-12 col-lg-4">
                <TestimonialCard name="Emma Jevons" review="Tyre Emergency came out to me in a time of great need. I went to get in the car to travel 3 hours to a wedding on bank holiday Sunday and I had a flat tyre. I rang them and they came and replaced the tyre and I was on my way within 40 minutes!" />
            </div>
        </div>
    </div>
</section>