<article class="container py-5">
    <div class="border text-center p-4 rounded-3 shadow-sm">
        <p class="fs-3">"Wonderful service and a great price."</p>
        <p class="mb-0"><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i></p>
        <p class="mb-0 fw-bold">L Hussey</p>
        <p class="mb-0"><em>Google Review</em></p>
    </div>
</article>