---
interface Props {
    name: string;
    review: string,
}

const { name, review } = Astro.props;
---
<div class="shadow p-3 bg-white rounded mb-3">
    <p class="text-warning mb-2"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></p>
    <p>{review}</p>
    <small class="text-muted">{name}</small>
</div>