<article class="py-5 container">
    <h3 class="text-center fw-bold">Budget & Premium Tyre Brands Available</h3>
    <div class="row py-5 g-3">

            <img class="col-6 col-md-4 col-lg-2" src="/brands/bridgestone.jpg" alt="Bridgestone logo" width="100%" />
            <img class="col-6 col-md-4 col-lg-2" src="/brands/pirelli.png" alt="Pirelli logo" width="100%" />
            <img class="col-6 col-md-4 col-lg-2" src="/brands/continental.jpg" alt="Continental logo" width="100%" />
            <img class="col-6 col-md-4 col-lg-2" src="/brands/dunlop.jpg" alt="Dunlop logo" width="100%" />
            <img class="col-6 col-md-4 col-lg-2" src="/brands/goodyear.jpg" alt="Goodyear logo" width="100%" />
            <img class="col-6 col-md-4 col-lg-2" src="/brands/michelin.jpg" alt="Michelin logo" width="100%" />
    </div>
</article>

