<article class="my-5 container py-5">
    <div class="row g-5">
        <div class="col-12 col-md-6">
            <img src="/img/mobile-tyre-fitting.webp" alt="" width="100%">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="mb-3">Why Choose Tyre Emergency?</h2>
            <p class="lead">Offering a hassle-free solution to your tyre needs, we at Tyre Emergency bring over 10 years of experience in the tyre trade directly to you. Our mobile tyre fitting service ensures you never have to travel to a tyre shop. Whether you’re at home or work, we provide same-day fitting.</p>
            <p class="lead">Proudly serving Nottingham, Worksop, Mansfield, and Newark, our goal is to get you back on the road quickly and safely.</p>
        </div>
    </div>
</article>
