<form action="https://mytyrebookings.co.uk/" method="post" class="my-3">
<h5 class="mb-3 text-center">Get a Quote</h5>
<div class="input-group">
    <input type="text" class="form-control text-center font-monospace fw-bold text-uppercase bg-warning border border-warning fs-5" name="vrm" placeholder="Enter Reg" required="">
    <button class="btn btn-success fw-bold font-monospace fs-5 text-uppercase" type="submit" id="lookUpVRMBtn">Go</button>
</div>
</form>