<form action="https://garage-bookings.com" method="get" target="_blank">
    <h5 class="mb-3 text-center">Book Online For Next Day Fitting</h5>
    <input type="hidden" name="clientID" value="537">
    <input type="hidden" name="homeURL" value="https://tyreemergency.com">
    <input type="hidden" name="language" value="en">
    <input type="hidden" name="skipConfirmationPage" value="n">
<div class="input-group">
    <input type="text" class="form-control text-center font-monospace fw-bold text-uppercase bg-warning border border-warning fs-5" name="vrm" placeholder="Enter Reg" required>
    <button class="btn btn-success fw-bold font-monospace fs-5 text-uppercase" type="submit" id="lookUpVRMBtn">Go</button>
</div>
<p class="mt-3 text-center"><strong>Need Tyres Today?</strong> Call Us On <a href="tel:03301339311" class="link-light">0330 133 9311</a></p>
</form>