---
import AdLayout from "../../layouts/AdLayout.astro";
---

<AdLayout
  title="Mobile Tyre Fitting Newark | Tyre Emergencyy Ltd"
  description="At Tyre Emergency, we specialise in rapid-response mobile tyre fitting—at your location, whether that’s at home, at work, or roadside."
>
  <div
    class="vh-100 d-flex align-items-center justify-content-center text-light text-center"
    id="adHero"
  >
    <div class="container">
      <p class="display-1 fw-bold">Flat Tyre? No Spare?</p>
      <p class="fs-1 fw-bold">
        No problem. We'll come to you in <span class="text-danger">
          60 minutes!</span>
      </p>
      <p class="lead">
        Our mobile tyre fitters operate 24/7 covering Nottinghamshire and
        surrounding areas.
      </p>
      <a
        href="tel:03301339311"
        class="fw-bold fs-2 mt-4 mb-5 btn btn-danger text-light"
        ><i class="bi bi-telephone-fill"></i> 0330 133 9311</a
      >
      <script
        defer
        async
        src="https://cdn.trustindex.io/loader.js?6bbd62b45b13075b85863b7636e"
      ></script>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <script
      defer
      async
      src="https://cdn.trustindex.io/loader.js?36f3f6945fd507625086972e1a4"
    ></script>
      <h1 class="my-5 fw-bold">Emergency Mobile Tyre Fitting</h1>
      <p>
        If you're reading this, there's a good chance you've had a blowout on
        the roadside—or maybe you were about to head to work and spotted a flat
        tyre at home.
      </p>
      <p>
        Either way, you need help—and you need it <span class="fw-bold"
          >fast.</span
        > That’s where we come in.
      </p>
      <p>
        At Tyre Emergency, we specialise in rapid-response mobile tyre
        fitting—at your location, whether that’s at home, at work, or roadside.
      </p>
      <p>
        From the moment you call us to the moment your tyre is fitted or
        repaired, our goal is to have you back on the road within 60 minutes.
      </p>
      

      <h2 class="fw-bold mt-5">Get a Quote Now</h2>
      <p>
        Need a tyre urgently? Call Tyre Emergency for immediate assistance!
      </p>
      <a href="tel:03301339311" class="btn btn-danger btn-lg fw-bold text-light"><i class="bi bi-telephone-fill"></i> 0330 133 9311</a>
    </div>
  </div>
</AdLayout>

<style>
  #adHero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url("/img/mobile-tyre-fitting-near-me.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
