---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/hero/BgImgHero.astro";
import Main from "../../../components/Main.astro";
import Testimonial from "../../../components/Testimonial.astro"
import CTA from "../../../components/CTA.astro";
---

<Layout
    title="24 Hour Mobile Tyre Fitting | Tyre Emergency Ltd"
    description="Hit a pothole or got a puncture? Our 24-hour mobile tyre service in Nottingham and Newark provides fast, reliable roadside assistance."
>
    <Hero
        heading="24Hr Emergency Tyre Replacement"
        bgImg="url(/img/mobile-tyre-fitting.jpeg)"
        tagline="We'll Come to You at Home or Roadside in 60 Minutes."
        btnText="Get Help Now"
    />

    <Main
        h1="24 Hour Mobile Tyre Fitting"
        h2="Fast Mobile Tyre Replacement in Nottingham, Newark & Mansfield"
    >
    <p class="lead text-center">Don't let a flat tyre ruin your plans. Whether you're stranded on a dark roadside or stuck at home with a flat tyre, Tyre Emergency Ltd is here to rescue you. We understand that time is of the essence, which is why we offer lightning-fast 24 hour mobile tyre replacement services in Nottingham, Newark, and Mansfield.</p>
    <p class="lead text-center">Imagine this: It's late at night, you're all set to head home after a long day, and suddenly, you hear that dreaded sound – a blowout. Panic sets in as you realize you have no spare wheel and can't afford to wait until morning for help. That's where we come in. With just one call, our expert team will spring into action, aiming to reach you within 60 minutes, no matter where you are.</p>
    <p class="lead text-center">Don't let a flat tyre derail your plans. Trust Tyre Emergency Ltd to deliver prompt, professional, and hassle-free service whenever you need it most.</p>
    </Main>
    <Testimonial />
    <CTA />
</Layout>