---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
import "../styles/main.min.css";
---

<!doctype html>
<html lang="en">
    <head>
        <script src="../scripts/gtm/head.js"></script>

        <meta charset="UTF-8" />

        <link rel="sitemap" href="/sitemap-index.xml" />
        <!-- Don't index page on search engines. -->
        <meta name="robots" content="noindex"/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="icon" type="image/x-icon" href="/logos/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MC27JVL7"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <header class="border-bottom border-dark">
            <div class="container py-4">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column mx-auto align-items-center mx-md-0">
    
                    <a class="navbar-brand">
                        <img src="/logos/text-logo.png" alt="Tyre Emergency logo" width="300px">
                    </a>
                    
                    <div class="d-md-grid d-none text-center mt-3">
                        <span class="bg-dark text-white px-3 py-1 fw-bold">24 / 7 Mobile Tyre Service</span>
                    </div>
                    <div class="d-grid d-md-none text-center mt-3">
                        <span class="bg-dark text-white px-5 fw-bold py-1">24 / 7 Mobile Tyre Service</span>
                    </div>
                </div>
                <!-- <div class="d-md-none">
                    <a
                        href="tel:03301339311"
                        class="btn btn-warning fw-bold"
                        ><i class="bi bi-telephone-fill"></i></a
                    >
                </div> -->
                <div class="d-none d-md-block">
                    <p class="fs-5 mb-2 fw-bold">
                        Call <span class="text-warning">Now</span> For a Quote
                    </p>
                    <a
                        href="tel:03301339311"
                        class="btn btn-lg btn-warning fw-bold"
                        ><i class="bi bi-telephone-fill me-2"></i> 0330 133 9311</a
                    >
                </div>
            </div>
        </div>
        </header>
        <slot />
        <!-- Bootstrap script -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        

        
    </body>
</html>
