---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <script src="../scripts/gtm/head.js"></script>
        <script type="text/javascript">

            var _cgk = 'yEy7JSE0v48gWoB';
          
            (function () {
                var _cg = document.createElement('script'); _cg.type = 'text/javascript'; _cg.async = true;
                _cg.src = 'https://v2.clickguardian.app/track.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_cg, s);
            })();
            
          </script>
          

        <meta charset="UTF-8" />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="icon" type="image/x-icon" href="/logos/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MC27JVL7"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->

        <noscript>
            <img src="https://v2.clickguardian.app/pixel?tkey=yEy7JSE0v48gWoB" 
            height="1" width="1" style="border:0;" alt="Click Guardian v2 Tracking Pixel"/>
          </noscript>
          
        <Header />
        <slot />
        <Footer />

            <!-- <a href="tel:03301339311" class="d-md-none link-dark display-5 fixed-bottom bg-primary py-4 text-center text-light"><i class="bi bi-telephone-fill"></i></a> -->

        <!-- Bootstrap script -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            <!-- <div data-romw-token="XgnNhEY1PN7nkusrjqboTrxVb0rRy4s3jYNnhq5GxgAm6oclcO"></div>
            <script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=7bf8acda5d5930b1a9db343a4ec1b31c" type="text/javascript"></script> -->

        
    </body>
</html>
