---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
import "../styles/main.min.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <script src="../scripts/gtm/head.js"></script>

        <meta charset="UTF-8" />

        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="icon" type="image/x-icon" href="/logos/favicon.ico" />
        <title>{title}</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MC27JVL7"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->

        <Header />
        <slot />
        <Footer />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- Tidio script -->
        <script src="//code.tidio.co/c2zejoezbigdhecnoyok1iegr6fhof5n.js"></script>

        
    </body>
</html>
