---
import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
import "../../styles/main.css";
import Navbar from "../../components/Navbar.astro";
import Benefits from "../../components/Benefits.astro"
import Testimonials from "../../components/Testimonials.astro";
import CTA from "../../components/CTA.astro";
import Footer from "../../components/Footer.astro";
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<!doctype html>
<html lang="en">
    <head>
        <script src="../../scripts/gtm/head.js"></script>
        <meta charset="UTF-8" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="24 hour mobile tyre fitting" />
        <link rel="icon" type="image/x-icon" href="/logos/favicon.ico" />
        <meta name="robots" content="noindex, nofollow" />
        <title>24 Hour Mobile Tyre Fitting</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MC27JVL7"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
            <Navbar />
            <main class="container py-5 my-5">
                <div class="row g-5">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center text-lg-start">
                        <p class="mb-3 display-5 fw-bold">Stuck With a Flat Tyre?</p>
                        <p class="fs-3 mb-3 mb-lg-5"><em>We'll Come to You in 60 Minutes</em></p>
                        <div class="d-flex align-items-center flex-column flex-lg-row">
                            <a href={`tel:${phoneNumber}`} class="btn btn-danger btn-lg rounded-pill text-light">Call Now</a>
                            <p class="ms-lg-3 mt-3 m-lg-0">Rated <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i> on Google</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                            <img src="/illustrations/car.png" alt="Car illustration" class="w-100">
                        </div>
                    </div>
                </div>
            </main>
        <section class="bg-light py-5">
            <div class="container text-center my-5">
                <h1 class="">24 Hour Mobile Tyre Fitting</h1>
                <em class="lead">Need a tyre urgently? Call Tyre Emergency!</em>
                <p class="lead mt-5">Tyre Emergency is your local 24 hour mobile tyre service based in the East Midlands. We come to you at home, work or roadside.</p>
                <p class="lead">It doesn't matter if you're stuck at home with a puncture, or if you've had a tyre blowout on the side of the road from a pothole - your safety is our priority and we'll always aim to get to you as quickly as possible.</p>
                <p class="lead">We've been in the tyre trade for over 10 years and we appreciate that you may not know what to say or do when you need an emergency tyre replacement - that's ok. Our friendly team will guide you along the way and get you back on the road swiftly.</p>
                <p class="lead">If you'd like a price for a tyre or need some tyre assistance, we'd be happy to speak to you. Just give a call on {phoneNumber}.</p>
            </div>
        </section>
        <Benefits />
        <Testimonials />
        <CTA />
        <Footer />

        <!-- Bootstrap script -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
</html>