---
import AdLayout from "../../layouts/AdLayout.astro";
---

<AdLayout
    title="Locking Wheel Nut Removal"
    description="Broke or Lost Your Locking Wheel Nut? Stress No More! We Remove Locking Wheel Nuts On All Car Makes & Models"
>
    <section id="ReviewBar">
        <div class="bg-light py-2 text-center border">
            <img
                src="https://reviewsonmywebsite.com/images/source-logos/google_sm.png"
                alt="Google icon"
                width="30"
                class="me-2"
            />
            5.0 <span class="text-dark"
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i></span
            >
            <a href="">86 Reviews</a>
        </div>
    </section>
    <section
        id="Hero"
        class="text-center text-light d-flex flex-column align-items-center justify-content-center py-5"
    >
        <p class="display-5 fw-bold text-uppercase">
            Broke or lost your locking wheel nut?
        </p>
        <p class="lead fs-3">
            We'll Come To You And Remove Them Today! All Car Makes & Models
            Covered
        </p>
        <a href="tel:03301339311" class="btn btn-lg btn-primary"
            ><i class="bi bi-telephone-fill"></i> 0330 133 9311</a
        >
    </section>
    <main class="py-5 text-center">
        <h1 class="fw-bold">Mobile Locking Wheel Nut Removal</h1>
        <h2 class="mb-5">We Come to You in Nottingham, Newark & Mansfield</h2>

        <p class="container lead">
            Locking wheel nuts - they're a great way of preventing your wheels
            from being stolen, but they also also be a massive pain in the
            backside when you've lost or broken the key.
        </p>
        <p class="container lead">
            There are many reasons why you might not be able to remove a locking
            wheel nut, whether it's a garage has broken the key by
            overtightening the bolt, or the key has been misplaced at some point
            in the past - either way, the main concern now is to get those
            annoying bolts out so you can have your car or tyre fixed.
        </p>
        <p class="container lead">
            Our technicians have years of experience with removing the most
            challenging locking wheel nuts. It doesn't matter what make or model
            your vehicle is, we promise to get your wheel bolts out - or you
            don't have to pay us a penny!
        </p>
        <p class="container lead">
            And best of all, we're open <strong class="fw-bold"
                >7 days a week</strong
            >
            and are completely mobile - meaning we can come to you at a time and
            place that suits your schedule! Give us a call today for a quote on <a
                href="tel:03301339311"
                class="link-dark">0330 133 9311</a
            >.
        </p>
    </main>
    <section class="bg-light py-5 border">
        <h2 class="text-center fw-bold text-uppercase container">
            Locker Removal for All Car Makes & Models
        </h2>
        <p class="lead text-center container">
            We carry specialist tools to remove locking wheel nuts from any car
            make and model, including: Alfa Romeo, Aston Martin, Audi, Bentley,
            BMW, Chevrolet, Chrysler, Citroen, Dacia, Daihatsu, Dodge, Ferrari,
            Fiat Ford, Honda, Hyundai, Infiniti, Isuzu, Iveco, Jaguar, Jeep,
            Kia, Lamborghini, Land Rover, LDV, Lexus, Lotus, Maserati, Mazda,
            McLaren, Mercedes, MG, MINI Mitsubishi, Morgan, Nissan, Peugeot,
            Porsche, Proton, Renault, Rolls-Royce, Saab, SEAT, Skoda, Smart,
            SsangYong, Subaru, Suzuki, Toyota, Vauxhall, VW, Volvo
        </p>
    </section>
</AdLayout>

<style>
    #Hero {
        background-image: url(/img/locking-wheel-nut-removal.jpeg);
        min-height: 50vh;
        background-position: center;
        box-shadow: inset 0 0 0 2000px #212529d9;
    }
</style>
