---
import AdLayout from "../../layouts/AdLayout.astro";
import Hero from "../../components/hero/BgImgHero.astro";
---

<AdLayout
  title="Locking Wheel Nut Removal"
  description="Broke or Lost Your Locking Wheel Nut? Stress No More! We Remove Locking Wheel Nuts On All Car Makes & Models"
>
  <Hero
    bgImg="url(/img/locking-wheel-nut-removal.jpeg)"
    heading="Broke or Lost Your Locking Wheel Nut?"
    tagline="We'll Come To You And Remove Them! All Car Makes & Models Covered"
  />
  <main class="py-5 text-center">
    <h1 class="fw-bold">Mobile Locking Wheel Nut Removal</h1>
    <h2 class="mb-5">We Come to You in Nottingham, Newark & Mansfield</h2>

    <p class="container lead">
      Locking wheel nuts - they're a great way of preventing your wheels from
      being stolen, but they also also be a massive pain in the backside when
      you've lost or broken the key.
    </p>
    <p class="container lead">
      There are many reasons why you might not be able to remove a locking wheel
      nut, whether it's a garage has broken the key by overtightening the bolt,
      or the key has been misplaced at some point in the past - either way, the
      main concern now is to get those annoying bolts out so you can have your
      car or tyre fixed.
    </p>
    <p class="container lead">
      Our technicians have years of experience with removing the most
      challenging locking wheel nuts. It doesn't matter what make or model your
      vehicle is, we promise to get your wheel bolts out - or you don't have to
      pay us a penny!
    </p>
    <p class="container lead">
      And best of all, we're open <strong class="fw-bold">7 days a week</strong>
      and are completely mobile - meaning we can come to you at a time and place
      that suits your schedule! Give us a call today for a quote on <a
        href="tel:03301339311"
        class="link-dark">0330 133 9311</a
      >.
    </p>

    <h2 class="text-center fw-bold text-uppercase my-5 container">
      Locker Removal for Most Car Makes & Models
    </h2>
    <p class="lead text-center container">
      We carry specialist tools to remove locking wheel nuts from almost any car
      make and model, including: Alfa Romeo, Aston Martin, Audi, Bentley, BMW,
      Chevrolet, Chrysler, Citroen, Dacia, Daihatsu, Dodge, Ferrari, Fiat Ford,
      Honda, Hyundai, Infiniti, Isuzu, Iveco, Jaguar, Jeep, Kia, Lamborghini,
      Land Rover, LDV, Lexus, Lotus, Maserati, Mazda, McLaren, Mercedes, MG,
      MINI Mitsubishi, Morgan, Nissan, Peugeot, Porsche, Proton, Renault,
      Rolls-Royce, Saab, SEAT, Skoda, Smart, SsangYong, Subaru, Suzuki, Toyota,
      Vauxhall, VW, Volvo
    </p>
  </main>
</AdLayout>
