---
import AdLayout from "../../layouts/AdLayout.astro";
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<AdLayout title="Locking Wheel Nut Removal" description="Mobile locking wheel nut removal service in the East Midlands. We deal with missing, broken, or damaged wheel nuts keys.">
    <main class="py-5 text-center text-lg-start">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center mb-5 mb-lg-0">
                    <h1 class="display-5 fw-bold mb-3">Locking Wheel Nut Removal</h1>
                    <h2 class="mb-3"><em>Lost Or Broke Your Locking Wheel Nut?</em></h2>
                    <p class="lead"> Our Mobile Technicians Can Come To You And Remove Your Wheel Nuts Today</p>
                    <div>

                        <a href={`tel:${phoneNumber}`} class="btn btn-danger btn-lg"><i class="bi bi-telephone-fill me-2"></i>Call Now For a Quote</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="/img/locking-wheel-nut-removal.webp" alt="Locking wheel bolt on a Volvo." class="w-100">
                </div>
            </div>
        </div>
    </main>
    <section class="py-5">
        <div class="container text-center">
            <h2 class="mb-5">Expert Locking Wheel Nut Removal at Your Doorstep</h2>
            <p class="lead">Locking wheel nuts - they are a fantastic way to prevent wheel theft but they are also a right pain if you lose or break the key.</p>
            <p class="lead">Most garages don't like to get involved with removing locking wheel nuts, and it's easy to see why. There are so many different styles of lockers, each requiring it's own specific tool to extract them. It's also difficult to know how tight they are and how long it will take to remove each one.</p>
            <p class="lead">But we're different. We've been in the tyre and wheel industry for over 10 years and we've dealt with thousands of locking wheel nuts. Our technicians can remove wheel nuts and bolts from any car make or model.</p>
            <p class="lead">We have the best tools on the market to deal with overtightened or damaged lockers, and we've got the experience to match.</p>
            <p class="lead">We also provide a completely <strong>mobile service across Mansfield, Nottingham, Newark and Worksop</strong>, so you don't even need to leave the sofa.</p>
            <p class="lead">In just a matter of minutes, we can remove all your locking bolts and replace them with standard wheel bolts with little to no fuss.</p>
            <p class="lead">So if this sounds good to you, why not give us a call on {phoneNumber}. We'd be happy to help!</p>

        </div>
    </section>
</AdLayout>