---
import AdLayout from "../../layouts/AdLayout.astro"
import Hero from "../../components/hero/BgImgHero.astro"
import Areas from "../../components/Areas.astro"
import Testimonial from "../../components/Testimonial.astro"
import CTA from "../../components/CTA.astro"
---

<AdLayout title="Mobile Tyre Fitting" description="Change Your Tyres the Easy Way. Our Expert Tyre Fitters Will Come to You and Fit Your Tyres Today.">
    
    <Hero
    bgImg="url(/img/24-hour-mobile-tyre-fitting.jpeg)"
    heading="Change Your Tyres the Easy Way"
    tagline="Our Expert Tyre Fitters Will Come to You and Fit Your Tyres Today"
    />
    <main class="py-5 text-center">
        
<h1 class="fw-bold mb-5">Convenient Mobile Tyre Fitting Services</h1>
<p class="container lead">Tired of spending your valuable time waiting around in tyre shops? Need a quick fix after hitting a pothole on your way to work? Fear not, because Tyre Emergency has you covered!</p>
<p class="container lead">Our mobile tyre fitting service brings the tyre shop to you, whether you're at home, work, or stranded on the road.</p>
<p class="lead container">From cars to vans, or caravans to motorhomes - we've got the expertise to handle them all.</p>
<p class="lead container">And the best part? Our service is available <strong class="fw-bold">7 days a week</strong>, ensuring your convenience no matter how hectic your schedule.</p>
<p class="lead container">In the event of a tyre blowout, our emergency response team can be at your location in under <strong class="fw-bold">60 minutes</strong>, getting you back on the road swiftly and safely.</p>
<p class="lead container">Why endure the hassle of traditional tyre shops when you can experience the ease and efficiency of our mobile service? Call us today for a quote on <a href="tel:01623325123" class="link-dark">01623 325 123</a>.</p>
    </main>
    <Areas />
    <Testimonial />
    <CTA />
</AdLayout>