---
import AdLayout from "../../layouts/AdLayout.astro"
import Hero from "../../components/Hero.astro"
import Testimonial from "../../components/Testimonial.astro"
import CTA from "../../components/CTA.astro"
---

<AdLayout title="" description="">
    
    <Hero
    heading="Change Your Tyres the Easy Way"
    tagline="Our Expert Tyre Fitters Will Come to You and Fit Your Tyres Today"
    bgImg="url(/img/mobile-tyre-fitting.jpeg)"
    />
    <main class="py-5 text-center">
        <h1 class="fw-bold mb-5">Mobile Tyre Fitting</h1>
        <p class="container">At Tyre Emergency, we don't just deal with roadside tyre replacements - we offer a convenient and affordable mobile tyre fitting service at your location. Our highly experienced tyre fitters will come to you at a time that suits your schedule.</p>
        <p class="container">Not only do we operate 7 days a week, but we also offer <strong>same day fitting</strong> which means you don't have to wait 2-3 days for your tyres to be changed.
        </p>
        <p class="container">Why spend hours at a garage when you can put your feet up and have the tyre fitters come to you! Give us a call today to find out more and get a price.</p>
    </main>
    <CTA />
    <Testimonial />
    <CTA />
</AdLayout>