---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import Main from "../../../components/Main.astro";
import Testimonial from "../../../components/Testimonial.astro"
import Areas from "../../../components/Areas.astro";
import CTA from "../../../components/CTA.astro";
import ContactUs from "../../../components/ContactUs.astro";
import FAQs from "../../../components/FAQs.astro";
const faqs = [
    {
        question: "How quickly can you reach me?",
        answer: "We aim to reach you within 60 minutes in our service areas.",
    },
    {
        question: "Do you service all types of vehicles?",
        answer: "We can replace tyres on cars, vans, caravans, motorhomes, and trailers. We don't replace tyres on motorbikes, HGVs, or agricultural vehicles.",
    },
    {
        question: "What areas do you cover?",
        answer: "We cover most of Nottingham and Newark, as well as Lincoln and areas of Derby.",
    },
    {
        question: "Do you offer an out-of-hours or out-of-area service?",
        answer: "While we don't provide a 24 hour service, we do offer an out-of-hour and out-of-area service depending on availability.",
    },
    {
        question: "Do you charge a callout for same day fitting?",
        answer: "If you require immediate assistance then there is an additional fee; however, this will be included in your quote over the phone or via email.",
    },
    {
        question: "Can I book you in for a certain date?",
        answer: "We do provide a next day fitting and appointments if you would like to use our mobile service but don't require emergency fitting.",
    },
    {
        question: "Do you fit part worn tyres?",
        answer: "We don't stock part worn tyres and we only fit new tyres.",
    },
    {
        question: "Do you fit customers own tyres?",
        answer: "Providing the tyres are new and the correct size for the vehicle then yes.",
    },
    {
        question: "What if I can't find the locking wheel nut key?",
        answer: "We offer a locking wheel nut removal service in the event your locking wheel nut key is broken or missing.",
    },
    { question: "Can I pay by card?", answer: "Yes, card payment is fine." },
    {
        question: "Do I have to be with the vehicle when you arrive?",
        answer: "So long as we have access to the locking wheel nut key then you don't need to be with the vehicle. However, we would require payment in advance.",
    },
    {
        question: "Can you attend breakdowns on the motorway?",
        answer: "For insurance reasons, we are not allowed to attend blowouts on the motorway. If you get recovered to a nearby service station or layby then we can help.",
    },
];
---

<Layout
    title="Mobile Tyre Fitting | Tyre Emergency Ltd"
    description="Convenient mobile tyre fitting services at your home or office in Nottingham and Newark. Schedule your tyre replacement with Tyre Emergency Ltd for a hassle-free experience."
>
    <Hero
        heading="Need New Tyres? No Hassle, No Waiting Rooms!"
        bgImg="url(/img/mobile-tyre-fitting.jpeg)"
        tagline="Schedule our expert mobile tyre fitters to come to you - at your convenience"
        btnText="Book Your Tyre Fitting"
    />

    <Main
        h1="Mobile Tyre Fitting Services in Nottingham & Newark"
        h2="Convenient, Reliable Tyre Fitting - Wherever You Are"
    >
        <p class="lead">
            Time for new tyres but can't make it to the garage? Tyre Emergency Ltd offers professional mobile tyre fitting services at your doorstep. Whether you're at home or at work, we come to you, making tyre replacement convenient and effortless in Nottingham and Newark.
        </p>
        
        <h2 class="fw-bold my-5">
            Why Choose Our Mobile Tyre Fitting Service
        </h2>
        <ul class="lead text-md-start">
            <li>
                <strong class="fw-bold">Scheduled Service:</strong>
                 Get your tyres fitted at a time that suits you. No more waiting at the garage - our team will be there when it's most convenient for you.
            </li>
            <li>
                <strong class="fw-bold">Comfort and Convenience:</strong>
                 Enjoy the ease of having tyre services come to your location, be it your home or workplace, saving you time and effort.
            </li>
            <li>
                <strong class="fw-bold">Wide Range of Tyre Options:</strong> 
                Our extensive inventory includes a variety of tyre types to suit different vehicles and preferences, ensuring you get the perfect match.
            </li>
        </ul>
    </Main>

    <CTA />
    <Testimonial />
    <CTA />
    
    <div class="container py-5 text-center">
        <h2 class="fw-bold mb-5">Tyres for All Types of Vehicles</h2>
        <p class="lead">
            Beyond cars, our expertise extends to vans, caravans, trailers, and more. We're equipped to handle different vehicle types, ensuring the right fit for every tyre replacement.
        </p>
        <p class="lead">
            Our comprehensive tyre selection ensures quick and efficient service for all vehicles, helping you get back to your day with minimal interruption.
        </p>
    </div>
    <CTA />
    <Areas />
    <CTA />
    <ContactUs />
    <FAQs faqs={faqs} />
</Layout>

